.broadcast_window{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    
    .broadcast-wrp{
        width: 100%;
        .screen-wrp{
            height: calc(100vh - 92px);  
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding-left: 30px;
            padding-right: 23px;
            .broadcast-wiewer{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                .login-wrp{
                    display: flex; 
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 23px;
                    margin-top: -13px;
                    height: 0px;
                    

                    .tech-wrp{
                        margin-left: 13px;
                        .time-on{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            .active-badge{
                                width: 40px;
                                height: 24px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 20px;                          
                                flex-direction: row;
                                justify-content: center;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                background: #FF0000;
                                border-radius: 5px;
                                color: white;
    
                            }
                            .current-time{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 20px;
                                color: rgba(0, 0, 0, 0.56);
                                margin-left: 6px;
                            }
                        }
                        .broadcast{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            /* or 143% */

                            display: flex;
                            align-items: center;

                            /* Text - Active */

                            color: rgba(0, 0, 0, 0.56);
                        }
                        
                        button{
                            color: #1896C6;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 13px;
                            line-height: 18px;
                            background-color: white;
                        }
                        button:focus{
                            outline: 0;
                            box-shadow: 0 0 0 0.002rem rgba(0,123,255,.0025);
                        }
                    }
                    .select-wrp{
                        margin-left: 8px;
                        padding-top: 4px;
                        span{
                            button{
                                background-color: white;
                            }
                            button:focus{
                                outline: 0;
                                box-shadow: 0 0 0 0.002rem rgba(0,123,255,.0025);
                            }
                            .dropdown-menu{
                                float: left;
                                min-width: 80px;
                                padding: .5rem 0;
                                margin: 1.125rem 0 0;
                                font-size: 1rem;
                                color: #212529;
                                text-align: left;
                                list-style: none;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid rgba(0,0,0,.15);
                                border-radius: .25rem;
                            }
                        }
                    }
                    .btn-wrp{
                        margin-left: 14px;
                        button{
                            background-color: #1896C6;
                            color: white;
                            width: 140px;
                            height: 40px;

                        }
                    }
                }
                .fullSizeScreen{
                    width: 100%;
                    height: calc(100vh - 156px);
                    position: relative;
                    box-sizing: content-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    .fullHeight-col{
                        
                        width: 77%;
                        height: calc(100vh - 156px);                        
                        box-sizing: content-box;
                        margin-right: 1%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .participant-wrp{
                            width: 100%;
                            height: 70vh; 
                            position: relative;
                            .participant-img {
                                vertical-align: middle;
                                border-style: none;
                                width: 100%;
                                min-width: 100%;
                                height: 70vh;
                                   
                                img{
                                    width: 100%;
                                    height: 100%;
                                }                     
                            }
                            .mask{
                                position: absolute;
                                
                                width: 100%;
                                bottom: 0%;
                                
                                .current-info{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding-left: 21px;
                                    padding-right: 16px;                
                                                                
                                    height: 38px;
                                    width: auto;
                                    opacity: 0.5;
                                    background: #FFFFFF;
                                    .nickname-user{
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 24px;
                                        line-height: 33px;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: 0.01em;
                                        color: #000000;
                                        margin-left: 1%;
                                    }
                                    .buttons-group{
                                        span{
                                            button{
                                                background-color: inherit;
                                                margin-left: 12px;
                                            }
                                            button:focus{
                                                outline: 0;
                                                box-shadow: 0 0 0 0.0002rem rgba(0,123,255,.0025);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    .fullHeight-col-right{
                        width: 21%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .scroll-item{
                            width: 100%;
                            height: 25vh;
                            position: relative;
                            margin-bottom: 14px;
                            box-sizing: border-box;
                            .participant-img{
                                vertical-align: middle;
                                border-style: none;
                                width: 100%;
                                min-width: 100%;
                                max-height: 25vh;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }  
                                
                            }
                            .mask{
                                position: absolute;
                                
                                width: inherit;
                                bottom: -3px;
                                
                                .current-info{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding-left: 5%;
                                    padding-right: 2%;               
                                                                
                                    height: 38px;
                                    width: auto;
                                    opacity: 0.5;
                                    background: #FFFFFF;
                                    .nickname-user{
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 1.2rem;
                                        line-height: 1.4rem;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: 0.01em;
                                        color: #000000;
                                        margin-left: 1%;
                                    }
                                    .buttons-group{
                                        span{
                                            button{
                                                background-color: inherit;
                                                margin-left: 12px;
                                            }
                                            button:focus{
                                                outline: 0;
                                                box-shadow: 0 0 0 0.0002rem rgba(0,123,255,.0025);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
                
                
                
            }
            .broadcast-notification{
                display: block;
                width: 590px;
                height: 116px;
                margin-bottom: 100px;
                
                
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 49px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.01em;
                    color: #505050;
                }
            }
            
            

        }
        .tools-wrp{
            height: 92px;
           background: #ECF2F5;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 16px;
            
            .buttons-container{
                display: flex;
                .btn{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 52px;  
                    height: 52px;
                    background: #FFFFFF;
                    border: 1px solid #E6E6E6;
                                     
                    margin-left: 15px;
                    svg{
                        fill: none;
                        g{
                            opacity: 1;
                        }
                    }
                }
                .btn:focus{
                    
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0025);
                    svg{
                        fill: none;
                    }
                }
            }

            .screenSelection{
                padding-left: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                max-width: 270px;
                width: 100%;
                button{
                    width: 63px;
                    height: 44px;
                    border: 0px solid transparent;
                    padding: 0px;
                    svg{
                        width: 63px;
                        height: 44px;
                    }
                }
                button:focus{
                    width: 82px;
                    height: 57px;
                    border: 0px solid transparent;
                    padding: 0px;
                    border-radius: 0px;
                    box-shadow: 0 0 0 0.2rem rgb(24, 150, 198,.25);
                    svg{
                        width: 82px;
                        height: 57px;
                    }
                }
            }

            .settings-container{
                .onAir{
                    height: 24px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    align-items: center;
                    text-align: center;
                    background: #FF4545;
                    border-radius: 5px;
                    color: white;
                    padding: 2px 16px;
                    font-family: "Open Sans", sans-serif;
                    cursor: pointer;
                }
                #screen-popup{
                    transform: translate3d(-145px, -182px, 0px) !important;
                    width: 393px;
                    height: 133px;
                    padding: 20px;
                    border: 1px solid #DEDEDE;
                    box-sizing: border-box;
                    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 24px 38px rgba(0, 0, 0, 0.14);
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    button{
                        width: 130px;
                        height: 48px;
                        color: white;
                        margin-left: auto;
                        background: #1896C6;
                        border-radius: 3px;
                        margin-top: 25px;
                        margin-left: 210px;
                    }
                }
                .btn{
                    background: inherit;
                    height: 92px;
                    
                }
                .screen-type{
                    padding-right: 18px;
                    padding-left: 19px;
                    
                }
                .screen-settings{
                    border-left: 1px solid #C4C4C4;
                    border-radius: 0px;
                    width: 43px;
                }
                .btn:focus{
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0025);
                }
                .dropdown-toggle::after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: 0em solid;
                    border-right: 0em solid transparent;
                    border-bottom: 0;
                    border-left: 0em solid transparent;
                }
                
                .dropdown-item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0.45rem 1.5rem;
                    justify-content: space-around;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.56);
                    
                    svg{
                        margin-right: 10px;
                    }
                }
                #screen-type{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    
                    border: 1px solid #E1E1E1;
                    position: absolute;
                    transform: translate3d(1406px, 967px, 0px);
                    top: -8px !important;
                    left: 0px;
                    will-change: transform;
                }
                #screen-settings{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    
                    border: 1px solid #E1E1E1;
                    position: absolute;
                    transform: translate3d(1406px, 967px, 0px);
                    top: -8px !important;
                    left: -20px !important;
                    will-change: transform;
                    .dropdown-item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
                
            }
        }
        
    }
    .broadcast-sidebar{
        width: 300px;
        height: 100vh;        
        background: #DEE1E6;
        .sidebar-nav{
            width: 100%;
            min-height: 52px;
            .tab{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 52px;
                .tablinks{
                    width: 50%;
                    height: 52px;
                    background: #FFFFFF;
                    border-radius: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                        span{
                            margin-left: 5px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            font-family: "Open Sans", sans-serif;
                            line-height: 20px;
                            
                        }
                    }
                }
                .tablinks:focus{
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0025);
                }
                .active{
                    color: #1896C6;
                    border-bottom: 2px solid #1896C6;
                    svg{
                        path{
                            fill: #1896C6;
                        }
                    }
                
                }
 
              
                                                                    
        }  
        .sidebar-content{
            .tabcontent{
                display: none;                
                height: 100%;
                width: 300px !important;
                               
                .chat-wrp{
                    
                    height: calc(100vh - 154px);
                    overflow-y: scroll;
                    padding-left: 15px;
                    padding-right: 15px;
                    
                    .message-item:last-of-type{
                        margin-bottom: 15px;
                    }
                    .message-item{
                        
                        background: #ECECEC;
                        border-radius: 5px;
                        padding: 5px 10px;
                        margin-top: 15px;
                        
                        .message-item-tittle{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            .user-nick{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px;
                            }
                            .time{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                        .message-text{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 0rem;
                        }

                    }
                }
             
                .chat-input{
                    width: 300px;
                    height: calc(100vh - 154px);
                    background-color: white;
                    
                    
                    padding-left: 24px;
                    padding-top: 2px;
                    padding-right: 22px;
                    form{
                        .form-group{
                            margin-bottom: 6px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            input{
                                border: 0px solid #ced4da;
                                border-bottom: 1px solid #00B483;
                            }
                            .form-control{
                                border-radius: .0025rem;
                                padding: 0rem;
                                font-size: 1rem;
                                background: none !important;
                            }
                            .form-control:focus {
                                color: #C4C4C4;
                                background-color: #fff;
                                border-color: #fff;
                                outline: 0;
                                border-radius: .0025rem;
                                border-bottom: 1px solid #00B483;
                                box-shadow: 0 0 0 0.002rem rgba(0,123,255,.00025);
                            }
                            .upload-btn,
                            .emoji-btn{
                                cursor: pointer;
                                background-color: white;
                                border: 0px solid white;
                            }
                            .upload-btn:focus,
                            .emoji-btn:focus{
                                border: 0px solid white;
                            }
                            button:focus {
                                outline: 0px dotted;
                                outline: 0px auto -webkit-focus-ring-color;
                            }
                            .btn-primary{
                                background: #1896C6;
                                width: 70px;
                                height: 36px;
                                border: 0px solid #1896C6;
                                border-radius: 3px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 24px;                              
                                align-items: center;
                                
                                text-transform:  uppercase;
                            }
                            .btn-primary.focus, .btn-primary:focus {
                                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.005);
                            }
                            
                              
                        }
                    }

                }
                   
                .category-list{
                    

                    .category-tittle{
                        height: 48px;
                        background: #FFFFFF;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding-left: 28px;
                        padding-right: 16px;
                        border-bottom: 2px solid #1896C6;
                        .category-name{
                            font-style: normal;
                            font-family: "Open Sans", sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: rgba(0, 0, 0, 0.56);
                        }
                        span{
                            margin-left: 2px;
                        }
                        button{
                            width: 79px;
                            height: 24px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 24px;
                            color: #FFFFFF;
                            border: 1px solid #1896C6;
                            background: #1896C6;
                            border-radius: 3px;
                            padding: 0px 12px;

                        }
                        button:hover{
                            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                            text-decoration: none;
                        }
                        button:focus{
                            box-shadow: 0 0 0 0.0002rem rgba(24, 150, 198, 0.025);
                        }
                    }
                    .users-list{
                        .user-item{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            height: 50px;
                            border-bottom: 1px solid #D3D3D3;
                            .form-check {
                                position: relative;
                                display: block;
                                margin-left: 15px;
                                padding-right: 10px;
                                input{
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            .user-icon{
                                background: #CCCFD4;
                                width: 75px;
                                height: 49px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                
                                span{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    background: #9803BD;
                                    width: 26px;
                                    height: 26px;
                                    border-radius: 50%;
                                    color: white;
                                    margin-top: 4px;
                                    
                                }
                            }
                            .user-info{
                                background: #DEE1E6;
                                padding-left: 11px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                width: 225px;
                                padding-right: 14px;
                                
                                
                                .nickname{
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #555555;
                                    font-family: "Open Sans", sans-serif;
                                }
                                .control-buttons{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    button{
                                        background: #DEE1E6;
                                        width: 30px;
                                        height: 36px;
                                        padding: 0px 0px;
                                                                            
                                    }
                                    button:focus{
                                        outline: 0;
                                        box-shadow: 0 0 0 0.002rem rgba(0,123,255,.025);
                                    }
                                    .header-settings-btn{
                                        width: 60px;
                                        height: 24px;
                                        background: #1896C6;
                                        border-radius: 3px;
                                        color: white;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 24px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: center;
                                        margin-top: 4px;
                                         margin-right: 4px;
                                        


                                    }
                                }
                            }
                        }
                        
                    }
                }
                .top-search-row{
                    height: 44px;
                    .form-control {
                        display: block;
                        width: 280px;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #495057;
                        background: #EAF7FF;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        margin: 4px auto;
                        
                    }
                    button{
                        position: absolute;
                        background: #EAF7FF;
                        border: 0px solid transparent;
                        right: 0px;
                    }

                }

            }

            .active{
                display: block;
                
            } 
            
        } 
        
    }

} 
.users-list-wrp{
    height: calc(100vh - 52px);
    overflow-y: scroll;
}
#error{
    .modal-dialog{
       
        
        max-width: 275px;
        margin: 65.75rem auto;
        .modal-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 275px !important;
            height: 125px;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
            
            .modal-body{
                padding: 0rem;
                padding-left: 24px;
                padding-right: 24px;
                
                p{
                    margin-bottom: 0rem;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                }

            }
            .modal-footer{
                
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0rem;
                padding-left: 38px;
                border-top: 0px solid #e9ecef;
                padding-bottom: 14px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-right: 24px;

                }
                button:focus{
                    box-shadow: 0 0 0 0.2rem white;
    
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;
                }

            }
        }
    }
}

modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: inherit;
}


@media (min-width: 1260px) and (max-width: 1440px) { 
   
    .modal-dialog{
        max-width: 950px;
        margin: 2.75rem auto;
    }
    #settings .modal-dialog{
        max-width: 758px;
        margin: 9.75rem auto !important;
    }


}

#error{
    .modal-dialog{
       
        
        max-width: 275px;
        margin: 65.75rem auto;
        .modal-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 275px !important;
            height: 125px;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
            
            .modal-body{
                padding: 0rem;
                padding-left: 24px;
                padding-right: 24px;
                
                p{
                    margin-bottom: 0rem;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                }

            }
            .modal-footer{
                
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0rem;
                padding-left: 38px;
                border-top: 0px solid #e9ecef;
                padding-bottom: 14px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-right: 24px;

                }
                button:focus{
                    box-shadow: 0 0 0 0.2rem white;
    
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;
                }

            }
        }
    }
}

modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: inherit;
}
#settings{
    .modal-dialog{
        max-width: 606px;
        margin: 22.75rem auto;
        .modal-content{
            width: 606px;
            
            .modal-decor{
                width: 178px;
                height: 3px;
                background: #0071BC;
                margin: 0 auto;
            }
            .modal-header{
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;                   
                color: #0071BC; 
                padding: 0px !important;
                font-family: "Open Sans", sans-serif;
                .modal-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    padding-top: 22px;
                    padding-bottom: 17px;
                    padding-left: 40px;
                    svg{
                        margin-right: 23px;
                    }
                }
                button{
                    margin-top: -7px;
                    margin-right: -7px;
                }
                button:focus {
                    outline: 1px dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                }
            }
            .modal-body{
                padding-left: 72px;
                padding-right: 74px; 
                
                form{
                   .form-group{
                    margin-bottom: .2rem;
                    height: 72px;
                        .col-sm-12{
                            .row{
                                display:flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-end;
                                margin-right: 18px;
                                .user-icon{
                                    background: #0373BD;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: auto;
                                    margin-right: 20px;
                                    span{
                                        color: white;
                                    }
                                }
                                .user-account{
                                    position: relative;
                                    label{
                                    bottom: 35px;
                                    left: -25px ;
                                    position: absolute;
   
                                    }
                                }
                            }
                            .password{
                                button{
                                    border: 0px solid white;
                                    background-color: white;
                                    position: absolute;
                                    right: 0px;
                                    bottom: 8px;
                                }
                                button:focus{
                                    outline:0px dotted;
                                    outline: 0x auto -webkit-focus-ring-color;
                                }
                            }
                        }
                       label{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;                          
                        color: #0373BD;
                        margin-bottom: 0rem;
                        font-family: "Open Sans", sans-serif;
                        
                       }
                       .form-control {
                        display: block;
                        cursor: pointer;
                        width: 100%;
                        padding: 0rem 0rem;
                        font-size: 1rem;
                        font-size: 18px;
                        font-family: "Open Sans", sans-serif;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 0px solid #ced4da;
                        border-bottom: 1px solid #DDDDDD;
                        border-radius: 0rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }
                        .form-control:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #fff;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem #fff;
                        }
                        figure{
                            a{
                                img{
                                    max-width: 135px;
                                    width: 100%;
                                    max-height: 80px;
                                    height: 100%;
                                }
                            }
                        }
                        .settings-right-column{ 
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 19px;
                            padding-top: 6px;
                            .row{
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    .text-link{
                                        display: block;
                                        text-decoration: underline;
                                        color: #606060;
                                    }
                                    .img-link{
                                        display: none;
                                    }

                                }
                                a:hover{
                                    .text-link{
                                        display: none;
                                    }
                                    .img-link{
                                        display: block;
                                    }
                                }
                            }
                        }
                       
                        
                        
                    } 
                }
            }
            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0rem;
                border-top: 0px solid #e9ecef;
                padding-left: 30px;
                padding-bottom: 19px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-left: 9px;
                    margin-right: 9px;
                    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2);

                }
                .cansel{
                    border: 1px solid #1896C6;
                    box-sizing: border-box;
                    background: #FFFFFF;
                        box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    color: #1896C6;         
                   
                }
                .cansel:hover{
                    color: #1896C6;
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;

                }
            }
        }
    }
}

.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
}