





<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-decor"></div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 15H3V13.5H6V15ZM13.5 15V16.5H16.5V18H0V4.5H1.5V0H24V15H13.5ZM7.74609 5.75391H1.25391V16.7461H7.74609V5.75391ZM12 15H9V16.5H12V15ZM22.5 13.5V1.5H3V4.5H9V13.5H22.5Z" fill="#0071BC"/>
                </svg>
                <span class="title-text">Devices</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.5" cy="11.5" r="11.5" fill="#C4C4C4"/>
                        <rect x="6.41431" y="5" width="16" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="white"/>
                        <rect x="17.728" y="6.41422" width="16" height="2" rx="1" transform="rotate(135 17.728 6.41422)" fill="white"/>
                        </svg>
                </span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                  
                  <div class="col-sm-8">
                    <label for="inputCamera">Camera</label>
                    <select id="inputCamera" class="form-control">
                        <option class="col-sm-6"selected>Camera 1</option>
                        <option class="col-sm-6">Camera 2</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <figure class="pl-3">
                        <a href="https://test.mascot-studio.in/assets/images/settings-photo.jpg" data-size="1600x1067">
                          <img src="https://via.placeholder.com/135x80.png/#d1e0e0C/O https://placeholder.com/" alt="" class="img-fluid" data-size="135x80">
                          
                        </a>
                      </figure>
                  </div>
                </div>
                <div class="form-group row">
                  
                    <div class="col-sm-8">
                      <label for="inputMicrophone">Microphone</label>
                      <select id="inputMicrophone" class="form-control">
                          <option class="col-sm-6"selected>Mic 1</option>
                          <option class="col-sm-6">Mic 2</option>
                      </select>
                    </div>
                    <div class="col-sm-4 settings-right-column">
                        <div class="row mt-3 ml-3">
                            <div class="icon-wrp">
                                <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 18.75C13.0125 18.75 15.4545 16.4606 15.4545 13.6364V5.11364C15.4545 2.28942 13.0125 0 10 0C6.9875 0 4.54545 2.28942 4.54545 5.11364V13.6364C4.54545 16.4606 6.9875 18.75 10 18.75ZM19.0909 10.2273H18.1818C17.6795 10.2273 17.2727 10.6087 17.2727 11.0795V13.6364C17.2727 17.6207 13.6085 20.8178 9.2733 20.4215C5.49489 20.0758 2.72727 16.8915 2.72727 13.3327V11.0795C2.72727 10.6087 2.32045 10.2273 1.81818 10.2273H0.909091C0.406818 10.2273 0 10.6087 0 11.0795V13.2188C0 17.9936 3.63466 22.2502 8.63636 22.8968V24.7159H5.45455C4.95227 24.7159 4.54545 25.0973 4.54545 25.5682V26.4205C4.54545 26.8913 4.95227 27.2727 5.45455 27.2727H14.5455C15.0477 27.2727 15.4545 26.8913 15.4545 26.4205V25.5682C15.4545 25.0973 15.0477 24.7159 14.5455 24.7159H11.3636V22.9171C16.2335 22.2907 20 18.3718 20 13.6364V11.0795C20 10.6087 19.5932 10.2273 19.0909 10.2273Z" fill="#606060"/>
                                </svg>
                            </div>  
                            
                            <a href="#" class="ml-2">
                                <span class="text-link">Test</span>
                                <span class="img-link">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4C4 2.89543 3.10457 2 2 2C0.89543 2 0 2.89543 0 4V12C0 13.1046 0.89543 14 2 14C3.10457 14 4 13.1046 4 12V4Z" fill="#1896C6"/>
                                        <path d="M11 6C11 4.89543 10.1046 4 9 4C7.89543 4 7 4.89543 7 6V10C7 11.1046 7.89543 12 9 12C10.1046 12 11 11.1046 11 10V6Z" fill="#1896C6"/>
                                        <path d="M18 2C18 0.89543 17.1046 0 16 0C14.8954 0 14 0.89543 14 2V14C14 15.1046 14.8954 16 16 16C17.1046 16 18 15.1046 18 14V2Z" fill="#1896C6"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  
                    <div class="col-sm-8">
                        <label for="inputSpeakers">Speakers</label>
                       
                        <select id="inputSpeakers" class="form-control">
                            <option data-display="type" class="py-2" value="1">Speakers 1</option>
                            <option class="py-2" value="2">Speakers 2</option>
                            
                          </select>
                    </div>
                    <div class="col-sm-4 settings-right-column">
                        <div class="row mt-3 ml-3">
                            <div class="icon-wrp">
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.21295 2.58069L4.81479 6.75022H0.916667C0.410208 6.75022 0 7.25365 0 7.87522V14.6252C0 15.2463 0.410208 15.7502 0.916667 15.7502H4.81479L8.21295 19.9198C8.78701 20.6243 9.77778 20.1293 9.77778 19.1243V3.37615C9.77778 2.37022 8.78625 1.87709 8.21295 2.58069ZM17.1245 0.186311C16.6978 -0.157283 16.1245 -0.012439 15.8446 0.512092C15.5642 1.03569 15.6834 1.73928 16.11 2.08287C18.6412 4.12147 20.1518 7.5485 20.1518 11.2507C20.1518 14.9529 18.6412 18.3799 16.11 20.4185C15.6834 20.7616 15.5642 21.4657 15.8446 21.9888C16.1135 22.4908 16.6822 22.6713 17.1245 22.3146C20.177 19.8555 22 15.7188 22 11.2502C22 6.78162 20.177 2.64537 17.1245 0.186311ZM18.3333 11.2502C18.3333 8.27225 17.1088 5.53428 15.0574 3.92647C14.63 3.59178 14.0632 3.7474 13.7924 4.27615C13.5216 4.8049 13.648 5.50475 14.0754 5.8399C15.5936 7.03006 16.5 9.05225 16.5 11.2502C16.5 13.4482 15.5936 15.4704 14.0754 16.6605C13.648 16.9952 13.5216 17.6951 13.7924 18.2243C14.041 18.7099 14.5991 18.934 15.0574 18.574C17.1088 16.9662 18.3333 14.2287 18.3333 11.2502ZM12.9185 7.64694C12.4762 7.35022 11.9182 7.54569 11.673 8.0899C11.4289 8.63412 11.5905 9.31803 12.0339 9.6185C12.527 9.95084 12.8333 10.5766 12.8333 11.2502C12.8333 11.9243 12.527 12.5496 12.0343 12.8819C11.5909 13.1824 11.4293 13.8663 11.6734 14.4105C11.919 14.9571 12.4774 15.1512 12.9189 14.8535C13.9971 14.1246 14.667 12.7441 14.667 11.2497C14.667 9.75537 13.9971 8.37537 12.9185 7.64694Z" fill="#606060"/>
                                </svg>
                            </div>  
                            
                            <a href="#" class="ml-2">
                                <span class="text-link">Test</span>
                                <span class="img-link">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4C4 2.89543 3.10457 2 2 2C0.89543 2 0 2.89543 0 4V12C0 13.1046 0.89543 14 2 14C3.10457 14 4 13.1046 4 12V4Z" fill="#1896C6"/>
                                        <path d="M11 6C11 4.89543 10.1046 4 9 4C7.89543 4 7 4.89543 7 6V10C7 11.1046 7.89543 12 9 12C10.1046 12 11 11.1046 11 10V6Z" fill="#1896C6"/>
                                        <path d="M18 2C18 0.89543 17.1046 0 16 0C14.8954 0 14 0.89543 14 2V14C14 15.1046 14.8954 16 16 16C17.1046 16 18 15.1046 18 14V2Z" fill="#1896C6"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
               
               
                
              </form>

        </div>
        <div class="modal-footer">
          
          <button type="submit" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
</div>