




#settings{
    .modal-dialog{
        max-width: 760px;
        margin: 7.75rem auto;
        .modal-content{
            width: 758px;
            .modal-decor{
                width: 178px;
                height: 3px;
                background: #0071BC;
                margin: 0 auto;
            }
            .modal-header{
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;                   
                color: #0071BC; 
                padding: 0px !important;
                .modal-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    padding-top: 23px;
                    padding-bottom: 23px;
                    padding-left: 40px;
                    svg{
                        margin-right: 23px;
                    }
                }
                button{
                    margin-top: 0px;
                    margin-right: 0px;
                }
                button:focus {
                    outline: 1px dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                }
            }
            .modal-body{
                padding: 0rem;
                padding-left: 30px;
                padding-top: 10px; 
                
                form{
                   .form-group{
                    margin-bottom: .2rem;
                    height: 72px;
                       label{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;                          
                        color: #0373BD;
                        margin-bottom: 0rem;
                        
                       }
                       .form-control {
                        display: block;
                        cursor: pointer;
                        width: 100%;
                        padding: 0rem 0rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 0px solid #ced4da;
                        border-bottom: 1px solid #DDDDDD;
                        border-radius: 0rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }
                        .form-control:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #fff;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem #fff;
                        }
                        .settings-right-column{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .row{
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    .text-link{
                                        display: block;
                                        text-decoration: underline;
                                        color: #606060;
                                    }
                                    .img-link{
                                        display: none;
                                    }

                                }
                                a:hover{
                                    .text-link{
                                        display: none;
                                    }
                                    .img-link{
                                        display: block;
                                    }
                                }
                            }
                        }
                       
                        
                        
                    } 
                }
            }
            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0rem;
                border-top: 0px solid #e9ecef;
                padding-left: 30px;
                padding-bottom: 19px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;

                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;
                }
            }
        }
    }
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

  
#error{
    .modal-dialog{
       
        
        max-width: 275px;
        margin: 65.75rem auto;
        .modal-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 275px !important;
            height: 125px;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
            
            .modal-body{
                padding: 0rem;
                padding-left: 24px;
                padding-right: 24px;
                
                p{
                    margin-bottom: 0rem;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                }

            }
            .modal-footer{
                
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0rem;
                padding-left: 38px;
                border-top: 0px solid #e9ecef;
                padding-bottom: 14px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-right: 24px;

                }
                button:focus{
                    box-shadow: 0 0 0 0.2rem white;
    
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;
                }

            }
        }
    }
}

modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: inherit;
}
#settings{
    .modal-dialog{
        max-width: 606px;
        margin: 22.75rem auto;
        .modal-content{
            width: 606px;
            
            .modal-decor{
                width: 178px;
                height: 3px;
                background: #0071BC;
                margin: 0 auto;
            }
            .modal-header{
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;                   
                color: #0071BC; 
                padding: 0px !important;
                font-family: "Open Sans", sans-serif;
                .modal-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    padding-top: 22px;
                    padding-bottom: 17px;
                    padding-left: 40px;
                    svg{
                        margin-right: 23px;
                    }
                }
                button{
                    margin-top: -7px;
                    margin-right: -7px;
                }
                button:focus {
                    outline: 1px dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                }
            }
            .modal-body{
                padding-left: 72px;
                padding-right: 74px; 
                
                form{
                   .form-group{
                    margin-bottom: .2rem;
                    height: 72px;
                        .col-sm-12{
                            .row{
                                display:flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-end;
                                margin-right: 18px;
                                .user-icon{
                                    background: #0373BD;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: auto;
                                    margin-right: 20px;
                                    span{
                                        color: white;
                                    }
                                }
                                .user-account{
                                    position: relative;
                                    label{
                                    bottom: 35px;
                                    left: -25px ;
                                    position: absolute;
   
                                    }
                                }
                            }
                            .password{
                                button{
                                    border: 0px solid white;
                                    background-color: white;
                                    position: absolute;
                                    right: 0px;
                                    bottom: 8px;
                                }
                                button:focus{
                                    outline:0px dotted;
                                    outline: 0x auto -webkit-focus-ring-color;
                                }
                            }
                        }
                       label{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;                          
                        color: #0373BD;
                        margin-bottom: 0rem;
                        font-family: "Open Sans", sans-serif;
                        
                       }
                       .form-control {
                        display: block;
                        cursor: pointer;
                        width: 100%;
                        padding: 0rem 0rem;
                        font-size: 1rem;
                        font-size: 18px;
                        font-family: "Open Sans", sans-serif;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 0px solid #ced4da;
                        border-bottom: 1px solid #DDDDDD;
                        border-radius: 0rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }
                        .form-control:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #fff;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem #fff;
                        }
                        figure{
                            a{
                                img{
                                    max-width: 135px;
                                    width: 100%;
                                    max-height: 80px;
                                    height: 100%;
                                }
                            }
                        }
                        .settings-right-column{ 
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 19px;
                            padding-top: 6px;
                            .row{
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    .text-link{
                                        display: block;
                                        text-decoration: underline;
                                        color: #606060;
                                    }
                                    .img-link{
                                        display: none;
                                    }

                                }
                                a:hover{
                                    .text-link{
                                        display: none;
                                    }
                                    .img-link{
                                        display: block;
                                    }
                                }
                            }
                        }
                       
                        
                        
                    } 
                }
            }
            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0rem;
                border-top: 0px solid #e9ecef;
                padding-left: 30px;
                padding-bottom: 19px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-left: 9px;
                    margin-right: 9px;
                    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2);

                }
                .cansel{
                    border: 1px solid #1896C6;
                    box-sizing: border-box;
                    background: #FFFFFF;
                        box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    color: #1896C6;         
                   
                }
                .cansel:hover{
                    color: #1896C6;
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;

                }
            }
        }
    }
}

.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
}         