.site-header{
    width: 100%;
    padding-top: 42px;   
    padding-left: 160px;
    padding-right: 159px;        
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .date-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding-left: 18px;
        li{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            margin-right: 20px;
            color: #505050;
            text-align: center;
            font-family: "Open Sans", sans-serif;
           
        }
         
    }
    .settings-wr{
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            border: none;
            background-color: #E4F5FD;
        }
        button{
            background-color: #E4F5FD;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
        button:focus{
            border-color:  #E4F5FD !important;
            box-shadow: 0 0 0 0.2rem #E4F5FD;
        }
        
        .user-icon{
            margin-left: 38px;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #0373BD;
            cursor: pointer;
            span{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;                
                color: #FFFFFF;
            }
        }
    }

    
}
#emptyRoomAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 848px;
    height: 560px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 2vh auto;
    padding-bottom: 40px;
    padding-top: 40px;
    .img-container{
        position: relative;
        max-width: 540px;
        width: 100%;
        max-height: 320px;
        height: 100%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        img{
        max-width: 540px;
        width: 100%;
        max-height: 320px;
        height: 100%;
        background-color: #DEE1E6;
        }
        .control-media{
            position: absolute;
            width: 120px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            bottom: 26px;
            button{
                background: inherit;
                z-index: 20;
            }
            button:focus{
                outline: 0;
                box-shadow: 0 0 0 0.002rem rgba(0,123,255,.25);
            }
        }
    }
    .current-info{
        margin-top: 28px;
        .current-session{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 14px;;
            font-family: "Open Sans", sans-serif;
        }
        .current-status{
            font-style: normal;
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 28px;
        }

    }
    button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        background: #1896C6;
        border: 0px solid #1896C6;
        border-radius: 3px;
        width: 60px;
        height: 40px;
        font-family: "Open Sans", sans-serif;

    }
    button:focus{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }


}
