

<div class="site">
    <div class="wrap_page">
      <header id="masthead" class="site-header">
                  
                      
        <ul class="date-nav">
            <li class="current-time"><span>11:08  AM</span></li>
            <li class="delimiter"><span>   |   </span></li>
            <li class="current-day"><span>Mon,  May 18</span></li>
        </ul>  
        
        <div class="settings-wr">
            
            <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#settings" data-whatever="@mdo">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.8945 11.5781C20.8945 11.6484 20.8945 11.7188 20.8945 11.7891C20.9023 11.8594 20.9062 11.9297 20.9062 12C20.9062 12.0703 20.9023 12.1406 20.8945 12.2109C20.8945 12.2813 20.8945 12.3516 20.8945 12.4219L23.9297 14.3086L22.0664 18.7969L18.5859 18C18.3984 18.2031 18.2031 18.3984 18 18.5859L18.7969 22.0664L14.3086 23.9297L12.4219 20.8945C12.3516 20.8945 12.2812 20.8984 12.2109 20.9062C12.1406 20.9062 12.0703 20.9062 12 20.9062C11.9297 20.9062 11.8594 20.9062 11.7891 20.9062C11.7187 20.8984 11.6484 20.8945 11.5781 20.8945L9.69141 23.9297L5.20312 22.0664L6 18.5859C5.79687 18.3984 5.60156 18.2031 5.41406 18L1.93359 18.7969L0.0703125 14.3086L3.10547 12.4219C3.10547 12.3516 3.10156 12.2812 3.09375 12.2109C3.09375 12.1406 3.09375 12.0703 3.09375 12C3.09375 11.9297 3.09375 11.8594 3.09375 11.7891C3.10156 11.7188 3.10547 11.6484 3.10547 11.5781L0.0703125 9.69141L1.93359 5.20312L5.41406 6C5.60156 5.79688 5.79688 5.60156 6 5.41406L5.20312 1.93359L9.69141 0.0703125L11.5781 3.10547C11.6484 3.10547 11.7188 3.10547 11.7891 3.10547C11.8594 3.09766 11.9297 3.09375 12 3.09375C12.0703 3.09375 12.1406 3.09766 12.2109 3.10547C12.2812 3.10547 12.3516 3.10547 12.4219 3.10547L14.3086 0.0703125L18.7969 1.93359L18 5.41406C18.2031 5.60156 18.3984 5.79688 18.5859 6L22.0664 5.20313L23.9297 9.69141L20.8945 11.5781ZM19.5234 13.1016C19.5391 12.9141 19.5547 12.7305 19.5703 12.5508C19.5859 12.3633 19.5938 12.1758 19.5938 11.9883C19.5938 11.8086 19.5859 11.625 19.5703 11.4375C19.5547 11.25 19.5391 11.0664 19.5234 10.8867L22.2891 9.16406L21.2812 6.72656L18.1055 7.46484C17.8633 7.16797 17.6133 6.89453 17.3555 6.64453C17.1055 6.39453 16.832 6.14453 16.5352 5.89453L17.2734 2.71875L14.8359 1.71094L13.1016 4.47656C12.9219 4.46094 12.7383 4.44531 12.5508 4.42969C12.3633 4.41406 12.1797 4.40625 12 4.40625C11.8125 4.40625 11.625 4.41406 11.4375 4.42969C11.2578 4.44531 11.0742 4.46094 10.8867 4.47656L9.16406 1.71094L6.72656 2.71875L7.46484 5.89453C7.16797 6.13672 6.89453 6.38672 6.64453 6.64453C6.39453 6.89453 6.14453 7.16797 5.89453 7.46484L2.71875 6.72656L1.71094 9.16406L4.47656 10.8984C4.46094 11.0859 4.44531 11.2734 4.42969 11.4609C4.41406 11.6406 4.40625 11.8242 4.40625 12.0117C4.40625 12.1914 4.41406 12.375 4.42969 12.5625C4.44531 12.75 4.46094 12.9336 4.47656 13.1133L1.71094 14.8359L2.71875 17.2734L5.89453 16.5352C6.13672 16.832 6.38281 17.1055 6.63281 17.3555C6.89062 17.6055 7.16797 17.8555 7.46484 18.1055L6.72656 21.2812L9.16406 22.2891L10.8984 19.5234C11.0781 19.5391 11.2617 19.5547 11.4492 19.5703C11.6367 19.5859 11.8203 19.5938 12 19.5938C12.1875 19.5938 12.3711 19.5859 12.5508 19.5703C12.7383 19.5547 12.9258 19.5391 13.1133 19.5234L14.8359 22.2891L17.2734 21.2812L16.5352 18.1055C16.832 17.8633 17.1055 17.6172 17.3555 17.3672C17.6055 17.1094 17.8555 16.832 18.1055 16.5352L21.2812 17.2734L22.2891 14.8359L19.5234 13.1016ZM12 7.59375C12.6094 7.59375 13.1797 7.71094 13.7109 7.94531C14.25 8.17188 14.7188 8.48438 15.1172 8.88281C15.5156 9.28125 15.8281 9.75 16.0547 10.2891C16.2891 10.8203 16.4062 11.3906 16.4062 12C16.4062 12.6094 16.2891 13.1836 16.0547 13.7227C15.8281 14.2539 15.5156 14.7188 15.1172 15.1172C14.7188 15.5156 14.25 15.832 13.7109 16.0664C13.1797 16.293 12.6094 16.4062 12 16.4062C11.3906 16.4062 10.8164 16.293 10.2773 16.0664C9.74609 15.832 9.28125 15.5156 8.88281 15.1172C8.48438 14.7188 8.16797 14.2539 7.93359 13.7227C7.70703 13.1836 7.59375 12.6094 7.59375 12C7.59375 11.3906 7.70703 10.8203 7.93359 10.2891C8.16797 9.75 8.48438 9.28125 8.88281 8.88281C9.28125 8.48438 9.74609 8.17188 10.2773 7.94531C10.8164 7.71094 11.3906 7.59375 12 7.59375ZM12 15.0938C12.4297 15.0938 12.832 15.0156 13.207 14.8594C13.582 14.6953 13.9102 14.4727 14.1914 14.1914C14.4727 13.9102 14.6914 13.582 14.8477 13.207C15.0117 12.832 15.0938 12.4297 15.0938 12C15.0938 11.5703 15.0117 11.168 14.8477 10.793C14.6914 10.418 14.4727 10.0898 14.1914 9.80859C13.9102 9.52734 13.582 9.30859 13.207 9.15234C12.832 8.98828 12.4297 8.90625 12 8.90625C11.5703 8.90625 11.168 8.98828 10.793 9.15234C10.418 9.30859 10.0898 9.52734 9.80859 9.80859C9.52734 10.0898 9.30469 10.418 9.14062 10.793C8.98438 11.168 8.90625 11.5703 8.90625 12C8.90625 12.4297 8.98438 12.832 9.14062 13.207C9.30469 13.582 9.52734 13.9102 9.80859 14.1914C10.0898 14.4727 10.418 14.6953 10.793 14.8594C11.168 15.0156 11.5703 15.0938 12 15.0938Z" fill="#415C6E"/>
                </svg>
            </button>
            <div class="user-icon">
                <span>U</span>
            </div>
        </div>
            
       
        
      </header>   
      <div id="emptyRoomAdmin">
        <div href="" class="img-container">
            <img src="https://via.placeholder.com/2000x2000.png/#d1e0e0C/O https://placeholder.com/" alt="">
            <div class="control-media">
                <button type="button" class="btn header-settings-btn"data-toggle="modal" data-target="#error" data-whatever="@mdo">
                    <span class="sound-state">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22.5" cy="22.5" r="22" stroke="white"/>
                            <path d="M33.7779 30.8944L28.1069 26.1304C28.5594 25.1925 28.825 24.1331 28.825 22.9999V21.1249C28.825 20.7796 28.5676 20.5 28.25 20.5H27.675C27.3573 20.5 27.1 20.7796 27.1 21.1249V22.9999C27.1 23.6999 26.9577 24.3593 26.7147 24.9609L25.7606 24.1593C25.872 23.7921 25.9503 23.4085 25.9503 23.0003V16.75C25.9503 14.6789 24.4057 13 22.5003 13C20.5949 13 19.0503 14.6789 19.0503 16.75V18.5218L12.634 13.1316C12.3832 12.9199 12.0217 12.9688 11.8269 13.2414L11.1211 14.2285C10.9263 14.5008 10.9712 14.8933 11.2221 15.1055L32.3662 32.8682C32.6171 33.0803 32.9783 33.0311 33.1734 32.7585L33.8792 31.7714C34.0736 31.4991 34.0287 31.1065 33.7779 30.8944ZM25.375 31.1249H23.3625V29.8057C23.7815 29.7432 24.1836 29.6284 24.5725 29.4811L22.7717 27.9683C22.5305 27.9839 22.2897 28.0022 22.0403 27.9761C20.0332 27.7632 18.4919 26.0765 18.0448 23.9976L16.175 22.4261V22.6937C16.175 26.1952 18.4739 29.3167 21.6375 29.7909V31.1249H19.625C19.3073 31.1249 19.05 31.4046 19.05 31.7499V32.3749C19.05 32.7202 19.3073 32.9999 19.625 32.9999H25.375C25.6927 32.9999 25.95 32.7202 25.95 32.3749V31.7499C25.95 31.4046 25.6927 31.1249 25.375 31.1249Z" fill="white"/>
                        </svg>
                    </span>                
                </button>
                <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#error" data-whatever="@mdo">
                <span class="video-state">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="22.5" cy="22.5" r="22" stroke="white"/>
                        <path d="M34.767 30.8954L32.7045 29.2351C33.282 29.1804 33.7995 28.6999 33.7995 28.0201V17.9799C33.7995 16.9837 32.7082 16.4016 31.9094 16.972L27.7993 19.9254V25.2854L26.5993 24.3205V17.3665C26.5993 16.3352 25.7968 15.4991 24.8068 15.4991H15.6453L12.7052 13.1317C12.4427 12.9207 12.0677 12.9676 11.8614 13.2411L11.1264 14.2256C10.9239 14.499 10.9689 14.8897 11.2314 15.1007L12.6002 16.2023L26.5993 27.4771L33.2932 32.8683C33.5557 33.0793 33.9307 33.0324 34.137 32.7589L34.872 31.7705C35.0783 31.501 35.0295 31.1064 34.767 30.8954ZM12.1989 28.6335C12.1989 29.6648 13.0014 30.5009 13.9915 30.5009H24.8068C25.2268 30.5009 25.6093 30.3446 25.9168 30.0907L12.1989 19.0425V28.6335Z" fill="white"/>
                    </svg>
                </span>
                </button>
            </div>
        </div>
        <div class="current-info">
            <div class="current-session">User's Meeting</div>
            <div class="current-status">No one else is here</div>
        </div>
                
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#error" aria-label="join">Join</button>
    </div>
      
  
    </div>
</div>