<ul class="test-nav">
    <li><a routerLink="1">1</a></li>
    <li><a routerLink="2">2</a></li>
    <li><a routerLink="3">3</a></li>
    <li><a routerLink="4">4</a></li>
    <li><a routerLink="5">5</a></li>
    <li><a routerLink="6">6</a></li>
    <li><a routerLink="7">7</a></li>
    <li><a routerLink="8">8</a></li>
    <li><a routerLink="9">9</a></li>
    <li><a routerLink="10">10</a></li>
    <li><a routerLink="11">11</a></li>
    <li><a routerLink="12">12</a></li>
    <li><a routerLink="13">13</a></li>
    <li><a routerLink="14">14</a></li>
    <li><a routerLink="15">15</a></li>
    <li><a routerLink="16">16</a></li>
    <li><a routerLink="17">17</a></li>
    <li><a routerLink="18">18</a></li>
    <li><a routerLink="19">19</a></li>
    <li><a routerLink="20">20</a></li>
    <li><a routerLink="21">21</a></li>
    
  </ul>
  
  <router-outlet></router-outlet>