.site-header{
    width: 100%;
    padding-top: 42px;   
    padding-left: 160px;
    padding-right: 159px;        
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .date-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding-left: 18px;
        li{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            margin-right: 20px;
            color: #505050;
            text-align: center;
            font-family: "Open Sans", sans-serif;
           
        }
         
    }
    .settings-wr{
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            border: none;
            background-color: #E4F5FD;
        }
        button{
            background-color: #E4F5FD;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        button:focus{
            border-color:  #E4F5FD !important;
            box-shadow: 0 0 0 0.2rem #E4F5FD;
        }
        
        .user-icon{
            margin-left: 38px;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #0373BD;
            cursor: pointer;
            span{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;                
                color: #FFFFFF;
            }
        }
    }

    
}
section{
    margin: 8vh auto;
    width: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-row{
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .user_meeting{
            width: 470px;
            height: 220px;
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
            border-radius: 5px;            
            padding: 25px;
            padding-top: 30px;
            display: flex;
            flex-direction: row;
            
            .img_wrp{
                
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                .img-custom-icon{
                    width: 70px;
                    height: 70px;
                    background: #0373BD;
                    border-radius: 35px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }
            .text_wrp{
                
                .tittle_row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    .tittle_4{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #55646E;
                        margin-bottom: 8px;
                        margin-right: 12px;
                        font-family: "Open Sans", sans-serif;
                    }
                    .delimeter{
                        height: 22px;
                        text-transform: uppercase;
                        margin-right: 6px;
                        margin-bottom: 4px;
                        span{
                            color: #C4C4C4;
                        }
                    }           
                    button{
                        background-color: white;
                        color: #1896C6;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 18px;
                        padding-left: 0px;
                        padding-top: 0px;
                        }
                    button:focus{
                        box-shadow: 0 0 0 0.2rem white;
        
                    }
                    button:hover{
                        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0025);
                        text-decoration: none;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0px;
                    font-family: "Open Sans", sans-serif;
                }
                span{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                font-family: "Open Sans", sans-serif;
                color: #018AE5;
                height: 45px;
                display: block;
                    
                }
                    
                    
               
                .button-row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 18px;
                    button{
                        background: #1896C6;
                        border-radius: 3px;
                        color: #FFFFFF;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        margin-left: 14px;
                        font-family: "Open Sans", sans-serif;
            
                    }
                    button:hover{
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                        text-decoration: none;
                    }
                }
        
            }
        } 
        .shedule_meeting{
            width: 470px;
            height: 220px;
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
            border-radius: 5px;            
            padding: 25px;
            padding-top: 30px;
            display: flex;
            flex-direction: row;
            .img_wrp{
                
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                .img-custom-icon{
                    width: 70px;
                    height: 70px;
                    background: #0373BD;
                    border-radius: 35px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }
            .text_wrp{
                
                .tittle_row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    .tittle_4{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 24px;
                        color: #55646E;
                        margin-bottom: 10px;
                        font-family: "Open Sans", sans-serif;
                    }           
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 65px;
                    font-family: "Open Sans", sans-serif;
                }
                button{
                    background: #1896C6;
                    border-radius: 3px;
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    font-family: "Open Sans", sans-serif;
                    height: 36px;
                }
                button:focus {
                    box-shadow: 0 0 0 0.002rem transparent;
                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0025);
                    text-decoration: none;
                }
            }
        }

    }

    .search_meeting{
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: 970px;
        height: 221px;
        background: #F8FDFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .top-search-row{
            display: flex;
            height: 58px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
            border-bottom: 1px solid #DDDDDD;
            .tab{
                height: 100%;
                .btn{
                    
                    background: transparent;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    color: #41515C;
                    border-radius: 0px;
                    font-family: "Open Sans", sans-serif;
                    padding: 6px 5px;
                    margin-right: 24px;
                    transition: none;
                    height: 58px;
                }
                .btn:focus{
                    box-shadow: 0 0 0 0.1rem transparent;
                }
                .btn.active{
                    
                    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
                    -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
                    box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
                }
                
            }
            form{
                
                input{
                    background: #EAF7FF;
                    border-radius: 5px;
                    width: 370px;
                    height: 33px;
                    border: none !important;
                }
                .form-control {
                    
                    
                    padding: .375rem .75rem;
                    font-size: 13px;
                    line-height: 1.5;
                    color: #84949F;
                    background: #EAF7FF;
                    background-clip: padding-box;
                    border: 0px solid #ced4da;
                    border-radius: .25rem;
                    font-family: "Open Sans", sans-serif;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
                .btn{
                    background-color: inherit;
                    position: absolute;
                    margin-left: 325px;
                }
                .btn:focus{
                    box-shadow: 0 0 0 0.001rem #F8FDFF;
                }
            }
        }
        .bottom-search-row{
            
            
            .tabcontent{
            padding: 16px;
            display: none;
            
            }
            .active{
                display: flex;
                width: 100%;
                min-height: 162px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-right: 36px;
                font-family: "Open Sans", sans-serif;
                span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    font-family: "Open Sans", sans-serif;
                    padding-bottom: 6px;
                }
            }
    
        }   
    
    }

}
#settings{
    .modal-dialog{
        max-width: 758px;
        margin: 12vh auto;
        .modal-content{
            width: 758px;
            .modal-decor{
                width: 178px;
                height: 3px;
                background: #0071BC;
                margin: 0 auto;
            }
            .modal-header{
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;                   
                color: #0071BC; 
                padding: 0px !important;
                font-family: "Open Sans", sans-serif;
                .modal-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    padding-top: 22px;
                    padding-bottom: 17px;
                    padding-left: 50px;
                    svg{
                        margin-right: 23px;
                    }
                    .title-text{
                        font-family: "Open Sans", sans-serif;
                        letter-spacing: 1.1px;
                    }
                }
                button{
                    margin-top: -7px;
                    margin-right: -7px;
                }
                button:focus {
                    outline: 1px dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                }
            }
            .modal-body{
                padding: 0rem;
                padding-left:  28px;
                padding-top: 10px;
                padding-bottom: 10px; 
                
                form{
                   .form-group{
                    margin-bottom: .2rem;
                    height: 72px;
                       label{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;                          
                        color: #0373BD;
                        margin-bottom: 0rem;
                        font-family: "Open Sans", sans-serif;
                        letter-spacing: .21px;
                        
                        
                       }
                       .form-control {
                        display: block;
                        cursor: pointer;
                        width: 100%;
                        padding: 0rem 0rem;
                        font-size: 1rem;
                        font-size: 18px;
                        font-family: "Open Sans", sans-serif;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 0px solid #ced4da;
                        border-bottom: 1px solid #DDDDDD;
                        border-radius: 0rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }
                        .form-control:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #fff;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem #fff;
                        }
                        figure{
                            a{
                                img{
                                    max-width: 135px;
                                    width: 100%;
                                    max-height: 80px;
                                    height: 100%;
                                    background-color: cadetblue;
                                }
                            }
                        }
                        .settings-right-column{ 
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 19px;
                            padding-top: 6px;
                            .row{
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    .text-link{
                                        display: block;
                                        text-decoration: underline;
                                        color: #606060;
                                    }
                                    .img-link{
                                        display: none;
                                    }

                                }
                                a:hover{
                                    .text-link{
                                        display: none;
                                    }
                                    .img-link{
                                        display: block;
                                    }
                                }
                            }
                        }
                       
                        
                        
                    } 
                }
            }
            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0rem;
                border-top: 0px solid #e9ecef;
                padding-left: 30px;
                padding-bottom: 19px;
                button{
                    background: #1896C6;
                    border-color:#1896C6;
                    border-radius: 3px;
                    width: 130px;
                    height: 48px;
                    font-size: 18px;
                    line-height: 24px;

                }
                button:hover{
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    text-decoration: none;
                }
            }
        }
    }
}
