/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.broadcast_window .broadcast-sidebar .sidebar-content .tabcontent .category-list .users-list .user-item .user-icon {
   
    height: 49px !important;
    
}
.site{
    width: 100%;
    max-height: 100vh !important;
    background-color: white;
    .wrap_page{
        width: 100%;
        height: 479px;
        background-color: #E4F5FD;
        .main-navigation{
            margin-top: 40px;

            
        }
    }

    

}
.emoji-btn{
    cursor: pointer;
    background-color: white;
    border: 0px solid white;
    width: 59px;}

.broadcast_window{
    
    overflow-y: hidden !important;
}
.test-nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

::-webkit-input-placeholder { color: #999999; 
    font-family: "Open Sans", sans-serif;}
::-moz-placeholder { color: #999999; 
    font-family: "Open Sans", sans-serif;}
:-ms-input-placeholder { color: #999999; 
    font-family: "Open Sans", sans-serif;}
:-moz-placeholder { color: #999999; 
    font-family: "Open Sans", sans-serif;}


    input-group-text {
        padding: 0.5rem .7rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }


label{
    font-family: "Open Sans", sans-serif;
}

a{
    font-family: "Open Sans", sans-serif;
}
button{
    font-family: "Open Sans", sans-serif;
}

svg{
    vertical-align: middle;
}

@media (min-height: 620px) and (max-height: 760px) {
    .scroll-item{
        margin-bottom: 1vh !important;
        .participant-img {
        
            
            img{
                width: 100%;
                height: 100%;
            }  
            
        }
    } 
    
} 

 

@media (min-width: 1260px) and (max-width: 1440px) {
    section .search_meeting .top-search-row .tab .btn.active{
        -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
        -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
        box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
    }
    
    

    
}



@media (min-width: 1520px) and (max-width: 1570px) {
    section .search_meeting .top-search-row .tab .btn.active{
        -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
        -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
        box-shadow: inset 0px -4px 0px 0px rgba(0,113,188,1);
    }
    
    
    .chat-wrp{
        
        overflow-y: scroll;
        padding-left: 15px;
        padding-right: 15px;
    }    
   
}


.form-control{
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 0rem 0rem;
    font-size: 1rem;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 0px solid #ced4da; */
    border-bottom: 1px solid #DDDDDD;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 8px;
    /* border-radius: 0px; */
    height: 50px;
    
    background: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 8L17 1' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat right;
    -webkit-appearance: none;
    
    /* background-position-x: 311px; */
}
 