<div class="broadcast_window" id="viewerSeeingMCU">
    <div class="broadcast-wrp">
        <div class="screen-wrp">
            <div class="broadcast-wiewer">
                <div class="login-wrp">
                    <div class="tech-wrp">
                       <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                           <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M13.5 2.12646C13.5 2.40576 13.4471 2.6766 13.3413 2.93896C13.2355 3.20133 13.0811 3.43408 12.8779 3.63721L4.51807 11.9971L0.5 13L1.50293 8.98193L9.86279 0.62207C10.0659 0.418945 10.2987 0.264486 10.561 0.158691C10.8234 0.0528971 11.0942 0 11.3735 0C11.6655 0 11.9406 0.0571289 12.1987 0.171387C12.4569 0.281413 12.6812 0.433757 12.8716 0.628418C13.0662 0.818848 13.2186 1.04313 13.3286 1.30127C13.4429 1.55941 13.5 1.83447 13.5 2.12646ZM2.56934 9.06445C3.0179 9.21257 3.40299 9.44954 3.72461 9.77539C4.05046 10.097 4.28743 10.4821 4.43555 10.9307L11.2974 4.0625L9.4375 2.20264L2.56934 9.06445ZM1.61719 11.8828L3.70557 11.3623C3.66325 11.1676 3.59342 10.9836 3.49609 10.8101C3.40299 10.6366 3.28874 10.4821 3.15332 10.3467C3.0179 10.2113 2.86344 10.097 2.68994 10.0039C2.51644 9.90658 2.33236 9.83675 2.1377 9.79443L1.61719 11.8828ZM11.875 3.48486C11.9808 3.37907 12.0824 3.27962 12.1797 3.18652C12.277 3.09342 12.3638 2.99609 12.4399 2.89453C12.5161 2.78874 12.5754 2.6766 12.6177 2.55811C12.6642 2.43538 12.6875 2.29362 12.6875 2.13281C12.6875 1.95085 12.6515 1.78158 12.5796 1.625C12.5119 1.46419 12.4167 1.32454 12.2939 1.20605C12.1755 1.08333 12.0358 0.988118 11.875 0.92041C11.7184 0.84847 11.5492 0.8125 11.3672 0.8125C11.2064 0.8125 11.0646 0.835775 10.9419 0.882324C10.8234 0.924642 10.7113 0.983887 10.6055 1.06006C10.5039 1.13623 10.4066 1.22298 10.3135 1.32031C10.2204 1.41764 10.1209 1.51921 10.0151 1.625L11.875 3.48486Z" fill="#1896C6"/>
                           </svg>
                           Edit
                       </button>
                    </div>
                    <div class="select-wrp">
                       <span>
                           <button class="btn screen-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M12.0849 16.2696C16.5429 16.2696 20.1567 12.6558 20.1567 8.19781C20.1567 3.73986 16.5429 0.125971 12.0849 0.125971C7.62695 0.125971 4.01306 3.73986 4.01306 8.19781C4.01306 12.6558 7.62695 16.2696 12.0849 16.2696Z" fill="#BDBDBD"/>
                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.8097C0.390758 23.059 5.65179 19.2966 12.0845 19.2966C18.5171 19.2966 23.7782 23.0589 24.169 27.8096C20.9586 30.6731 16.7248 32.4134 12.0844 32.4134C7.44416 32.4134 3.21033 30.6731 0 27.8097Z" fill="#BDBDBD"/>
                                   <path d="M33 25C33 20.0294 28.9706 16 24 16C19.0294 16 15 20.0294 15 25C15 29.9706 19.0294 34 24 34C28.9706 34 33 29.9706 33 25Z" fill="#FF0000"/>
                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M28.4017 21.3027C28.8836 21.4324 29.2635 21.8124 29.3933 22.2943C29.6342 23.1746 29.625 25.0094 29.625 25.0094C29.625 25.0094 29.625 26.835 29.3933 27.7154C29.2635 28.1972 28.8836 28.5772 28.4017 28.7069C27.5214 28.9386 24 28.9386 24 28.9386C24 28.9386 20.4878 28.9386 19.5982 28.6976C19.1163 28.5679 18.7364 28.188 18.6067 27.7061C18.375 26.835 18.375 25.0002 18.375 25.0002C18.375 25.0002 18.375 23.1746 18.6067 22.2943C18.7364 21.8124 19.1256 21.4232 19.5982 21.2934C20.4786 21.0618 24 21.0618 24 21.0618C24 21.0618 27.5214 21.0618 28.4017 21.3027ZM25.807 25L22.8787 26.6866V23.3135L25.807 25Z" fill="white"/>
                               </svg>
                                                          
                           </button>
                           <div class="dropdown-menu dropdown-menu-right" id="screen-settings">
                               <a class="dropdown-item" href="#">
                                   <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M12.0849 16.2696C16.5429 16.2696 20.1567 12.6558 20.1567 8.19781C20.1567 3.73986 16.5429 0.125971 12.0849 0.125971C7.62695 0.125971 4.01306 3.73986 4.01306 8.19781C4.01306 12.6558 7.62695 16.2696 12.0849 16.2696Z" fill="#BDBDBD"/>
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.8097C0.390758 23.059 5.65179 19.2966 12.0845 19.2966C18.5171 19.2966 23.7782 23.0589 24.169 27.8096C20.9586 30.6731 16.7248 32.4134 12.0844 32.4134C7.44416 32.4134 3.21033 30.6731 0 27.8097Z" fill="#BDBDBD"/>
                                     </svg>
                                       
                               </a>
                               <a class="dropdown-item" href="#">
                                   <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M12.0849 16.2696C16.5429 16.2696 20.1567 12.6558 20.1567 8.19781C20.1567 3.73986 16.5429 0.125971 12.0849 0.125971C7.62695 0.125971 4.01306 3.73986 4.01306 8.19781C4.01306 12.6558 7.62695 16.2696 12.0849 16.2696Z" fill="#BDBDBD"/>
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.8097C0.390758 23.059 5.65179 19.2966 12.0845 19.2966C18.5171 19.2966 23.7782 23.0589 24.169 27.8096C20.9586 30.6731 16.7248 32.4134 12.0844 32.4134C7.44416 32.4134 3.21033 30.6731 0 27.8097Z" fill="#BDBDBD"/>
                                        </svg>
                                       
                               </a>
                               <a class="dropdown-item" href="#">
                                   <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M12.0849 16.2696C16.5429 16.2696 20.1567 12.6558 20.1567 8.19781C20.1567 3.73986 16.5429 0.125971 12.0849 0.125971C7.62695 0.125971 4.01306 3.73986 4.01306 8.19781C4.01306 12.6558 7.62695 16.2696 12.0849 16.2696Z" fill="#BDBDBD"/>
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0 27.8097C0.390758 23.059 5.65179 19.2966 12.0845 19.2966C18.5171 19.2966 23.7782 23.0589 24.169 27.8096C20.9586 30.6731 16.7248 32.4134 12.0844 32.4134C7.44416 32.4134 3.21033 30.6731 0 27.8097Z" fill="#BDBDBD"/>
                                    </svg>
                                       
                               </a>
                           </div>
                       </span>
                    </div>
                    <div class="btn-wrp">
                       <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                           Start Broadcast
                       </button>
                    </div>

               </div>


               <div class="fullSizeScreen row"> 
                    <div class="fullHeight-col">
                        <div class="participant-wrp">
                            <div class="participant-img">
                                <img clas="img-fluid" class="img-fluid" src="https://via.placeholder.com/100x2000.png/#d1e0e0C/O https://placeholder.com/" alt="">
                            </div>
                            <div class="mask">
                                <div class="current-info">
                                    <div class="nickname-user"><span>User 1</span></div>
                                    <div class="buttons-group">
                                        <span>
                                            <button class="btn" type="submit">
                                                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0376 8.50091C21.4921 8.3237 21.8952 8.07399 22.2468 7.75179L14.5282 0.502197C14.1851 0.832456 13.9193 1.21105 13.7306 1.63797C13.5505 2.05683 13.4604 2.49583 13.4604 2.95497C13.4604 3.3094 13.5119 3.64771 13.6148 3.96992L8.04453 9.2017C7.6929 9.06477 7.32841 8.96005 6.95106 8.88756C6.58228 8.807 6.20492 8.76673 5.81899 8.76673C5.08143 8.76673 4.37389 8.89964 3.69637 9.16546C3.01884 9.43127 2.4185 9.80584 1.89535 10.2891L6.57851 14.6877L0 20.8665L0.776234 21.5955L7.35474 15.4168L11.8267 19.6169C12.3412 19.1256 12.74 18.5617 13.023 17.9254C13.3061 17.289 13.4476 16.6245 13.4476 15.9317C13.4476 15.5693 13.4047 15.2148 13.3189 14.8685C13.2417 14.514 13.1303 14.1717 12.9845 13.8414L18.5547 8.60965C18.8978 8.70632 19.258 8.75465 19.6353 8.75465C20.1242 8.75465 20.5916 8.67007 21.0376 8.50091Z" fill="#223942"/>
                                                    </svg>
                                                    
        
                                            </button>
        
                                        </span>
                                        <span>
                                            <button class="btn" type="submit">
                                                <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
        
                                                    <path
                                                        d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z"
                                                        fill="#223942" />
        
                                                </svg>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <div class="fullHeight-col-right">
                    <div class="scroll-item participant">
                        
                        <div class="participant-img">
                            <img clas="img-fluid" class="img-fluid" src="https://via.placeholder.com/100x2000.png/#d1e0e0C/O https://placeholder.com/" alt="">
                        </div>
                        <div class="mask">
                            <div class="current-info">
                                <div class="nickname-user"><span>User 1</span></div>
                                <div class="buttons-group">
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.6353 8.75672C19.258 8.75672 18.8978 8.70839 18.5547 8.61173L12.9845 13.8435C13.1303 14.1738 13.2417 14.5161 13.3189 14.8705C13.4047 15.2169 13.4476 15.5713 13.4476 15.9338C13.4476 16.6266 13.3061 17.2911 13.023 17.9275C12.8752 18.2598 12.6958 18.5724 12.4848 18.8653C12.4084 18.9712 12.3279 19.0746 12.2433 19.1754C12.1141 19.3293 11.9752 19.4772 11.8267 19.619L2.62648 10.9779L1.89535 10.2912C2.14525 10.0604 2.41276 9.8543 2.69788 9.67306C3.00965 9.47488 3.34248 9.30637 3.69637 9.16753C4.37389 8.90171 5.08143 8.7688 5.81899 8.7688C6.20492 8.7688 6.58228 8.80908 6.95106 8.88963C7.32841 8.96213 7.6929 9.06684 8.04453 9.20378L13.6148 3.97199C13.5119 3.64979 13.4604 3.31147 13.4604 2.95705C13.4604 2.49791 13.5505 2.05891 13.7306 1.64004C13.7834 1.52055 13.8423 1.40484 13.9072 1.29291C14.012 1.11216 14.1326 0.941293 14.2689 0.780296C14.3498 0.684815 14.4362 0.592807 14.5282 0.504272L21.5151 7.06664L22.2468 7.75386C21.9936 7.98588 21.7137 8.18031 21.4072 8.33714C21.288 8.3981 21.1648 8.45338 21.0376 8.50299C20.5916 8.67214 20.1242 8.75672 19.6353 8.75672ZM12.1093 17.5211C12.0076 17.7498 11.8874 17.9672 11.7483 18.1735L3.45564 10.3848C3.6479 10.277 3.84976 10.1816 4.0616 10.0984C4.62118 9.8789 5.20471 9.7688 5.81899 9.7688C6.13478 9.7688 6.44054 9.8017 6.73766 9.8666L6.74999 9.86929L6.76239 9.87167C7.08136 9.93295 7.38747 10.0211 7.68164 10.1356L8.26939 10.3645L8.72914 9.93269L14.2994 4.7009L14.7594 4.26887L14.5674 3.66773C14.4974 3.44851 14.4604 3.21318 14.4604 2.95705C14.4604 2.63445 14.5225 2.33142 14.6473 2.03964C14.6527 2.02753 14.6581 2.01548 14.6637 2.00347L20.6147 7.59288C20.3053 7.70153 19.9806 7.75672 19.6353 7.75672C19.3443 7.75672 19.0757 7.71958 18.8259 7.64921L18.282 7.49595L17.8701 7.88282L12.2998 13.1146L11.7836 13.5995L12.0696 14.2474C12.1882 14.5159 12.2789 14.7942 12.3418 15.0833L12.3448 15.0972L12.3482 15.1109C12.4142 15.3774 12.4476 15.6511 12.4476 15.9338C12.4476 16.4858 12.3358 17.0119 12.1093 17.5211ZM6.5102 14.7541L0 20.8687L0.776234 21.5978L7.28643 15.4832L6.5102 14.7541Z"
                                                    fill="#223942" />
                                            </svg>

                                        </button>

                                    </span>
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">

                                                <path
                                                    d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z"
                                                    fill="#223942" />

                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-item participant">
                        
                        <div class="participant-img">
                            <img clas="img-fluid" class="img-fluid" src="https://via.placeholder.com/100x2000.png/#d1e0e0C/O https://placeholder.com/" alt="">
                        </div>
                        <div class="mask">
                            <div class="current-info">
                                <div class="nickname-user"><span>User 1</span></div>
                                <div class="buttons-group">
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.6353 8.75672C19.258 8.75672 18.8978 8.70839 18.5547 8.61173L12.9845 13.8435C13.1303 14.1738 13.2417 14.5161 13.3189 14.8705C13.4047 15.2169 13.4476 15.5713 13.4476 15.9338C13.4476 16.6266 13.3061 17.2911 13.023 17.9275C12.8752 18.2598 12.6958 18.5724 12.4848 18.8653C12.4084 18.9712 12.3279 19.0746 12.2433 19.1754C12.1141 19.3293 11.9752 19.4772 11.8267 19.619L2.62648 10.9779L1.89535 10.2912C2.14525 10.0604 2.41276 9.8543 2.69788 9.67306C3.00965 9.47488 3.34248 9.30637 3.69637 9.16753C4.37389 8.90171 5.08143 8.7688 5.81899 8.7688C6.20492 8.7688 6.58228 8.80908 6.95106 8.88963C7.32841 8.96213 7.6929 9.06684 8.04453 9.20378L13.6148 3.97199C13.5119 3.64979 13.4604 3.31147 13.4604 2.95705C13.4604 2.49791 13.5505 2.05891 13.7306 1.64004C13.7834 1.52055 13.8423 1.40484 13.9072 1.29291C14.012 1.11216 14.1326 0.941293 14.2689 0.780296C14.3498 0.684815 14.4362 0.592807 14.5282 0.504272L21.5151 7.06664L22.2468 7.75386C21.9936 7.98588 21.7137 8.18031 21.4072 8.33714C21.288 8.3981 21.1648 8.45338 21.0376 8.50299C20.5916 8.67214 20.1242 8.75672 19.6353 8.75672ZM12.1093 17.5211C12.0076 17.7498 11.8874 17.9672 11.7483 18.1735L3.45564 10.3848C3.6479 10.277 3.84976 10.1816 4.0616 10.0984C4.62118 9.8789 5.20471 9.7688 5.81899 9.7688C6.13478 9.7688 6.44054 9.8017 6.73766 9.8666L6.74999 9.86929L6.76239 9.87167C7.08136 9.93295 7.38747 10.0211 7.68164 10.1356L8.26939 10.3645L8.72914 9.93269L14.2994 4.7009L14.7594 4.26887L14.5674 3.66773C14.4974 3.44851 14.4604 3.21318 14.4604 2.95705C14.4604 2.63445 14.5225 2.33142 14.6473 2.03964C14.6527 2.02753 14.6581 2.01548 14.6637 2.00347L20.6147 7.59288C20.3053 7.70153 19.9806 7.75672 19.6353 7.75672C19.3443 7.75672 19.0757 7.71958 18.8259 7.64921L18.282 7.49595L17.8701 7.88282L12.2998 13.1146L11.7836 13.5995L12.0696 14.2474C12.1882 14.5159 12.2789 14.7942 12.3418 15.0833L12.3448 15.0972L12.3482 15.1109C12.4142 15.3774 12.4476 15.6511 12.4476 15.9338C12.4476 16.4858 12.3358 17.0119 12.1093 17.5211ZM6.5102 14.7541L0 20.8687L0.776234 21.5978L7.28643 15.4832L6.5102 14.7541Z"
                                                    fill="#223942" />
                                            </svg>

                                        </button>

                                    </span>
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">

                                                <path
                                                    d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z"
                                                    fill="#223942" />

                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-item participant">
                        
                        <div class="participant-img">
                            <img clas="img-fluid" class="img-fluid" src="https://via.placeholder.com/100x2000.png/#d1e0e0C/O https://placeholder.com/" alt="">
                        </div>
                        <div class="mask">
                            <div class="current-info">
                                <div class="nickname-user"><span>User 1</span></div>
                                <div class="buttons-group">
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.6353 8.75672C19.258 8.75672 18.8978 8.70839 18.5547 8.61173L12.9845 13.8435C13.1303 14.1738 13.2417 14.5161 13.3189 14.8705C13.4047 15.2169 13.4476 15.5713 13.4476 15.9338C13.4476 16.6266 13.3061 17.2911 13.023 17.9275C12.8752 18.2598 12.6958 18.5724 12.4848 18.8653C12.4084 18.9712 12.3279 19.0746 12.2433 19.1754C12.1141 19.3293 11.9752 19.4772 11.8267 19.619L2.62648 10.9779L1.89535 10.2912C2.14525 10.0604 2.41276 9.8543 2.69788 9.67306C3.00965 9.47488 3.34248 9.30637 3.69637 9.16753C4.37389 8.90171 5.08143 8.7688 5.81899 8.7688C6.20492 8.7688 6.58228 8.80908 6.95106 8.88963C7.32841 8.96213 7.6929 9.06684 8.04453 9.20378L13.6148 3.97199C13.5119 3.64979 13.4604 3.31147 13.4604 2.95705C13.4604 2.49791 13.5505 2.05891 13.7306 1.64004C13.7834 1.52055 13.8423 1.40484 13.9072 1.29291C14.012 1.11216 14.1326 0.941293 14.2689 0.780296C14.3498 0.684815 14.4362 0.592807 14.5282 0.504272L21.5151 7.06664L22.2468 7.75386C21.9936 7.98588 21.7137 8.18031 21.4072 8.33714C21.288 8.3981 21.1648 8.45338 21.0376 8.50299C20.5916 8.67214 20.1242 8.75672 19.6353 8.75672ZM12.1093 17.5211C12.0076 17.7498 11.8874 17.9672 11.7483 18.1735L3.45564 10.3848C3.6479 10.277 3.84976 10.1816 4.0616 10.0984C4.62118 9.8789 5.20471 9.7688 5.81899 9.7688C6.13478 9.7688 6.44054 9.8017 6.73766 9.8666L6.74999 9.86929L6.76239 9.87167C7.08136 9.93295 7.38747 10.0211 7.68164 10.1356L8.26939 10.3645L8.72914 9.93269L14.2994 4.7009L14.7594 4.26887L14.5674 3.66773C14.4974 3.44851 14.4604 3.21318 14.4604 2.95705C14.4604 2.63445 14.5225 2.33142 14.6473 2.03964C14.6527 2.02753 14.6581 2.01548 14.6637 2.00347L20.6147 7.59288C20.3053 7.70153 19.9806 7.75672 19.6353 7.75672C19.3443 7.75672 19.0757 7.71958 18.8259 7.64921L18.282 7.49595L17.8701 7.88282L12.2998 13.1146L11.7836 13.5995L12.0696 14.2474C12.1882 14.5159 12.2789 14.7942 12.3418 15.0833L12.3448 15.0972L12.3482 15.1109C12.4142 15.3774 12.4476 15.6511 12.4476 15.9338C12.4476 16.4858 12.3358 17.0119 12.1093 17.5211ZM6.5102 14.7541L0 20.8687L0.776234 21.5978L7.28643 15.4832L6.5102 14.7541Z"
                                                    fill="#223942" />
                                            </svg>

                                        </button>

                                    </span>
                                    <span>
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">

                                                <path
                                                    d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z"
                                                    fill="#223942" />

                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                

            </div>         
            </div>
            
        </div>
        <div class="tools-wrp">
            <div class="buttons-container">
               
                <button class="btn" type="submit">
                    <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                        <path d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z" fill="#223942"/>
                        </g>    
                    </svg>                       
                </button>
                <button class="btn" type="submit">
                    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                        <path d="M20 1.78571C20 1.49554 19.8214 1.23884 19.5647 1.12723C19.4754 1.09375 19.375 1.07143 19.2857 1.07143C19.096 1.07143 18.9174 1.13839 18.7835 1.28348L14.2857 5.77009V3.92857C14.2857 2.15402 12.846 0.714285 11.0714 0.714285H3.21429C1.43973 0.714285 0 2.15402 0 3.92857V11.7857C0 13.5603 1.43973 15 3.21429 15H11.0714C12.846 15 14.2857 13.5603 14.2857 11.7857V9.93304L18.7835 14.4308C18.9174 14.5759 19.096 14.6429 19.2857 14.6429C19.375 14.6429 19.4754 14.6205 19.5647 14.5871C19.8214 14.4754 20 14.2188 20 13.9286V1.78571Z" fill="#223942"/>
                        </g>
                    </svg>
                </button>
                <button class="btn" type="submit">
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                        <path d="M5.47183 21.5021L10.7844 19.3771C11.0109 19.286 11.2017 19.1237 11.3281 18.9147C11.4544 18.7057 11.5095 18.4613 11.4849 18.2183L11.1197 14.5593C14.9229 13.1933 19.083 13.1934 22.8863 14.5594L22.5211 18.2184C22.4961 18.4615 22.5509 18.7061 22.6773 18.9151C22.8037 19.1242 22.9948 19.2865 23.2217 19.3772L28.5342 21.5023C28.7801 21.5988 29.0519 21.6065 29.3029 21.5241C29.5538 21.4417 29.7681 21.2743 29.9089 21.0507L32.5651 16.8007C32.7001 16.5846 32.7579 16.3291 32.729 16.0759C32.7001 15.8226 32.5863 15.5867 32.406 15.4065C23.8893 6.88977 10.0966 6.90292 1.59328 15.4062C1.4129 15.5864 1.29893 15.8224 1.26999 16.0757C1.24104 16.3289 1.29883 16.5846 1.43392 16.8008L4.09023 21.0508C4.23211 21.275 4.44769 21.4427 4.69985 21.525C4.95202 21.6074 5.225 21.5993 5.47183 21.5021Z" fill="#E95D5D"/>
                        </g>
                    </svg>                       
                </button>
            </div>
            <div class="screenSelection">
                <button class="btn" type="submit" data-toggle="modal" data-target="#error1" data-whatever="@mdo">
                    <svg width="63" height="44" viewBox="0 0 63 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="-0.000244141" width="62.8571" height="44" fill="#C4C4C4"/>
                        <ellipse cx="30.8693" cy="13.5805" rx="7.72089" ry="7.72089" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3096 32.339C19.6838 27.7952 24.7159 24.1968 30.8686 24.1968C37.0217 24.1968 42.0541 27.7957 42.4277 32.3401C39.357 35.0787 35.3075 36.7431 30.8692 36.7431C26.4304 36.7431 22.3804 35.0783 19.3096 32.339Z" fill="white"/>
                    </svg>
                        
                        
                </button>
                <button class="btn" type="submit" data-toggle="modal" data-target="#error1" data-whatever="@mdo">
                    <svg width="63" height="44" viewBox="0 0 63 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="0.260742" width="62.1118" height="43.4783" fill="#C4C4C4"/>
                        <rect x="1.55371" y="1.81323" width="27.9503" height="40.3727" fill="#E1E1E1"/>
                        <rect x="32.6094" y="1.81323" width="27.9503" height="40.3727" fill="#E1E1E1"/>
                        <ellipse cx="14.7515" cy="14.5677" rx="6.74174" ry="6.74174" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.6582 30.9476C4.98478 26.9799 9.37879 23.8376 14.7513 23.8376C20.1243 23.8376 24.5185 26.9803 24.8446 30.9484C22.1633 33.3398 18.6273 34.7931 14.7518 34.7931C10.8759 34.7931 7.33959 33.3394 4.6582 30.9476Z" fill="white"/>
                        <ellipse cx="45.8091" cy="14.5677" rx="6.74174" ry="6.74174" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.7158 30.9476C36.0424 26.9799 40.4364 23.8376 45.809 23.8376C51.1819 23.8376 55.5761 26.9803 55.9022 30.9484C53.2209 33.3398 49.6849 34.7931 45.8094 34.7931C41.9336 34.7931 38.3972 33.3394 35.7158 30.9476Z" fill="white"/>
                        </svg>
                                               
                </button>
                <button class="btn" type="submit" data-toggle="modal" data-target="#settings" data-whatever="@mdo">
                    <svg width="63" height="44" viewBox="0 0 63 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="0.260742" width="62.1118" height="43.4783" fill="#C4C4C4"/>
                        <rect x="1.55371" y="11.1301" width="27.9503" height="21.7391" fill="#E1E1E1"/>
                        <rect x="32.6094" y="11.1301" width="27.9503" height="21.7391" fill="#E1E1E1"/>
                        <ellipse cx="16.304" cy="17.866" rx="3.63017" ry="3.63016" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8682 26.6852C11.0445 24.549 13.4103 22.8574 16.3029 22.8574C19.1962 22.8574 21.5625 24.5499 21.7377 26.6868C20.294 27.9741 18.3903 28.7564 16.3039 28.7564C14.2165 28.7564 12.3121 27.9734 10.8682 26.6852Z" fill="white"/>
                        <ellipse cx="47.2205" cy="17.7728" rx="3.53693" ry="3.53693" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.9238 26.3652C42.0957 24.284 44.4007 22.636 47.2189 22.636C50.038 22.636 52.3435 24.285 52.5142 26.3671C51.1076 27.6213 49.2528 28.3834 47.2201 28.3834C45.1863 28.3834 43.3307 27.6205 41.9238 26.3652Z" fill="white"/>
                        </svg>
                </button>
                <button class="btn" type="submit" data-toggle="modal" data-target="#settings" data-whatever="@mdo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="82" height="57" viewBox="0 0 82 57" fill="none">
                        <rect x="1.48438" y="1" width="78.5714" height="55" fill="#D2D2D2" stroke="none" stroke-width="2"/>
                        <rect x="5" y="10.8213" width="45.1786" height="35.3571" fill="#E1E1E1"/>
                        <ellipse cx="28.8463" cy="21.818" rx="5.86776" ry="5.86776" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0576 36.0744C20.3419 32.6211 24.1662 29.8862 28.8423 29.8862C33.5185 29.8862 37.3429 32.6212 37.627 36.0747C35.2933 38.1562 32.2156 39.4212 28.8425 39.4212C25.4692 39.4212 22.3914 38.1561 20.0576 36.0744Z" fill="white"/>
                        <rect x="54.1064" y="8.85718" width="23.5714" height="17.6786" fill="#E1E1E1"/>
                        <ellipse cx="65.9876" cy="14.2586" rx="2.87628" ry="2.87628" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.6846 21.4311C61.8237 19.7382 63.6985 18.3975 65.9907 18.3975C68.2828 18.3975 70.1574 19.738 70.2968 21.4307C69.1528 22.4511 67.6441 23.0713 65.9905 23.0713C64.3371 23.0713 62.8285 22.4513 61.6846 21.4311Z" fill="white"/>
                        <rect x="54.1064" y="30.4641" width="23.5714" height="17.6786" fill="#E1E1E1"/>
                        <ellipse cx="65.9876" cy="35.8658" rx="2.87628" ry="2.87628" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.6846 43.0385C61.8236 41.3455 63.6984 40.0046 65.9907 40.0046C68.2829 40.0046 70.1575 41.3452 70.2968 43.038C69.1528 44.0585 67.6441 44.6787 65.9904 44.6787C64.3371 44.6787 62.8285 44.0587 61.6846 43.0385Z" fill="white"/>
                        </svg>                     
                </button>
                
            </div>

            <div class="settings-container">
                
                <span>
                    <button class="btn screen-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="59" height="46" viewBox="0 0 59 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                            <path d="M31.9648 17.2852L28.25 13.5703L24.5352 17.2852L25.5898 18.3398L27.5 16.4297V24H29V16.4297L30.9102 18.3398L31.9648 17.2852ZM38 12L18.5 12V0L38 0V12ZM20 10.5L36.5 10.5V1.5L20 1.5V10.5Z" fill="#223942"/>
                            <path d="M12.1572 34.918C12.1572 35.9297 11.8109 36.709 11.1182 37.2559C10.43 37.7982 9.44336 38.0693 8.1582 38.0693H6.98242V42H5.82031V32.0059H8.41113C10.9085 32.0059 12.1572 32.9766 12.1572 34.918ZM6.98242 37.0713H8.02832C9.05827 37.0713 9.80339 36.9049 10.2637 36.5723C10.724 36.2396 10.9541 35.7064 10.9541 34.9727C10.9541 34.3118 10.7376 33.8197 10.3047 33.4961C9.87174 33.1725 9.19727 33.0107 8.28125 33.0107H6.98242V37.0713ZM17.5029 34.3711C17.8356 34.3711 18.1341 34.3984 18.3984 34.4531L18.2412 35.5059C17.9313 35.4375 17.6579 35.4033 17.4209 35.4033C16.8148 35.4033 16.2952 35.6494 15.8623 36.1416C15.4339 36.6338 15.2197 37.2467 15.2197 37.9805V42H14.085V34.5078H15.0215L15.1514 35.8955H15.2061C15.484 35.4079 15.819 35.0319 16.2109 34.7676C16.6029 34.5033 17.0335 34.3711 17.5029 34.3711ZM22.9648 42.1367C21.8574 42.1367 20.9824 41.7995 20.3398 41.125C19.7018 40.4505 19.3828 39.514 19.3828 38.3154C19.3828 37.1077 19.679 36.1484 20.2715 35.4375C20.8685 34.7266 21.6683 34.3711 22.6709 34.3711C23.6097 34.3711 24.3525 34.681 24.8994 35.3008C25.4463 35.916 25.7197 36.7295 25.7197 37.7412V38.459H20.5586C20.5814 39.3385 20.8024 40.0062 21.2217 40.4619C21.6455 40.9176 22.2402 41.1455 23.0059 41.1455C23.8125 41.1455 24.61 40.9769 25.3984 40.6396V41.6514C24.9974 41.8245 24.6169 41.9476 24.2568 42.0205C23.9014 42.098 23.4707 42.1367 22.9648 42.1367ZM22.6572 35.3213C22.0557 35.3213 21.5749 35.5173 21.2148 35.9092C20.8594 36.3011 20.6497 36.8434 20.5859 37.5361H24.5029C24.5029 36.8206 24.3434 36.2738 24.0244 35.8955C23.7054 35.5127 23.2497 35.3213 22.6572 35.3213ZM32.4941 39.9561C32.4941 40.6533 32.2344 41.1911 31.7148 41.5693C31.1953 41.9476 30.4661 42.1367 29.5273 42.1367C28.5339 42.1367 27.7591 41.9795 27.2031 41.665V40.6123C27.5632 40.7946 27.9482 40.9382 28.3584 41.043C28.7731 41.1478 29.1719 41.2002 29.5547 41.2002C30.1471 41.2002 30.6029 41.1068 30.9219 40.9199C31.2409 40.7285 31.4004 40.4391 31.4004 40.0518C31.4004 39.7601 31.2728 39.5117 31.0176 39.3066C30.7669 39.097 30.2747 38.8509 29.541 38.5684C28.8438 38.3086 28.347 38.083 28.0508 37.8916C27.7591 37.6956 27.5404 37.4746 27.3945 37.2285C27.2533 36.9824 27.1826 36.6885 27.1826 36.3467C27.1826 35.736 27.431 35.2552 27.9277 34.9043C28.4245 34.5488 29.1058 34.3711 29.9717 34.3711C30.7783 34.3711 31.5667 34.5352 32.3369 34.8633L31.9336 35.7861C31.1816 35.4762 30.5003 35.3213 29.8896 35.3213C29.3519 35.3213 28.9463 35.4056 28.6729 35.5742C28.3994 35.7428 28.2627 35.9753 28.2627 36.2715C28.2627 36.472 28.3128 36.6429 28.4131 36.7842C28.5179 36.9255 28.6842 37.0599 28.9121 37.1875C29.14 37.3151 29.5775 37.4997 30.2246 37.7412C31.1133 38.0648 31.7126 38.3906 32.0225 38.7188C32.3369 39.0469 32.4941 39.4593 32.4941 39.9561ZM37.5117 42.1367C36.4043 42.1367 35.5293 41.7995 34.8867 41.125C34.2487 40.4505 33.9297 39.514 33.9297 38.3154C33.9297 37.1077 34.2259 36.1484 34.8184 35.4375C35.4154 34.7266 36.2152 34.3711 37.2178 34.3711C38.1566 34.3711 38.8994 34.681 39.4463 35.3008C39.9932 35.916 40.2666 36.7295 40.2666 37.7412V38.459H35.1055C35.1283 39.3385 35.3493 40.0062 35.7686 40.4619C36.1924 40.9176 36.7871 41.1455 37.5527 41.1455C38.3594 41.1455 39.1569 40.9769 39.9453 40.6396V41.6514C39.5443 41.8245 39.1637 41.9476 38.8037 42.0205C38.4482 42.098 38.0176 42.1367 37.5117 42.1367ZM37.2041 35.3213C36.6025 35.3213 36.1217 35.5173 35.7617 35.9092C35.4062 36.3011 35.1966 36.8434 35.1328 37.5361H39.0498C39.0498 36.8206 38.8903 36.2738 38.5713 35.8955C38.2523 35.5127 37.7965 35.3213 37.2041 35.3213ZM47.335 42V37.1533C47.335 36.5426 47.196 36.0869 46.918 35.7861C46.64 35.4854 46.2048 35.335 45.6123 35.335C44.8285 35.335 44.2542 35.5469 43.8896 35.9707C43.5251 36.3945 43.3428 37.0941 43.3428 38.0693V42H42.208V34.5078H43.1309L43.3154 35.5332H43.3701C43.6025 35.1641 43.9284 34.8792 44.3477 34.6787C44.7669 34.4736 45.234 34.3711 45.749 34.3711C46.6514 34.3711 47.3304 34.5898 47.7861 35.0273C48.2419 35.4603 48.4697 36.1553 48.4697 37.1123V42H47.335ZM53.2275 41.2002C53.4281 41.2002 53.6217 41.1865 53.8086 41.1592C53.9954 41.1273 54.1436 41.0954 54.2529 41.0635V41.9316C54.1299 41.9909 53.9476 42.0387 53.7061 42.0752C53.4691 42.1162 53.2549 42.1367 53.0635 42.1367C51.6143 42.1367 50.8896 41.3734 50.8896 39.8467V35.3896H49.8164V34.8428L50.8896 34.3711L51.3682 32.7715H52.0244V34.5078H54.1982V35.3896H52.0244V39.7988C52.0244 40.25 52.1315 40.5964 52.3457 40.8379C52.5599 41.0794 52.8538 41.2002 53.2275 41.2002Z" fill="black"/>
                            </g>
                        </svg>
                            
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="screen-type">
                        <a class="dropdown-item" href="#">
                            <svg width="29" height="24" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.275 19.5H17.2885C17.255 20.4286 16.622 21 15.805 21H13.05C12.2031 21 11.5538 20.1811 11.5651 19.5H0.725C0.32625 19.5 0 19.8375 0 20.25V21C0 22.65 1.305 24 2.9 24H26.1C27.695 24 29 22.65 29 21V20.25C29 19.8375 28.6738 19.5 28.275 19.5ZM26.1 2.25C26.1 1.0125 25.1213 0 23.925 0H5.075C3.87875 0 2.9 1.0125 2.9 2.25V18H26.1V2.25ZM23.2 15H5.8V3H23.2V15Z" fill="#888888"/>
                            </svg>
                            Share screen
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.9648 17.2852L10.25 13.5703L6.53516 17.2852L7.58984 18.3398L9.5 16.4297V24H11V16.4297L12.9102 18.3398L13.9648 17.2852ZM20 12L0.5 12L0.5 0L20 0V12ZM2 10.5L18.5 10.5V1.5L2 1.5L2 10.5Z" fill="#888888"/>
                            </svg>
                            Whiteboard
                        </a>
                    </div> 
                </span>
                <span>
                    <button class="btn screen-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="6" height="25" viewBox="0 0 6 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                            <circle cx="2.82258" cy="2.82258" r="2.82258" fill="#363636"/>
                            <circle cx="2.82258" cy="12.5001" r="2.82258" fill="#363636"/>
                            <circle cx="2.82258" cy="22.1773" r="2.82258" fill="#363636"/>
                            </g>
                        </svg>                       
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="screen-settings">
                        <a class="dropdown-item" href="#">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 22.5C10.2109 22.5 9.21094 22.3672 8.25 22.1016C7.29687 21.8359 6.40234 21.4609 5.56641 20.9766C4.73047 20.4844 3.96875 19.8984 3.28125 19.2188C2.60156 18.5312 2.01562 17.7695 1.52344 16.9336C1.03906 16.0977 0.664062 15.2031 0.398437 14.25C0.132812 13.2891 0 12.2891 0 11.25C0 10.2109 0.132812 9.21484 0.398437 8.26172C0.664062 7.30078 1.03906 6.40234 1.52344 5.56641C2.01562 4.73047 2.60156 3.97266 3.28125 3.29297C3.96875 2.60547 4.73047 2.01953 5.56641 1.53516C6.40234 1.04297 7.29688 0.664063 8.25 0.398438C9.21094 0.132812 10.2109 0 11.25 0C12.2891 0 13.2852 0.132813 14.2383 0.398438C15.1992 0.664063 16.0977 1.04297 16.9336 1.53516C17.7695 2.01953 18.5273 2.60547 19.207 3.29297C19.8945 3.97266 20.4805 4.73047 20.9648 5.56641C21.457 6.40234 21.8359 7.30078 22.1016 8.26172C22.3672 9.21484 22.5 10.2109 22.5 11.25C22.5 12.2891 22.3672 13.2891 22.1016 14.25C21.8359 15.2031 21.457 16.0977 20.9648 16.9336C20.4805 17.7695 19.8945 18.5312 19.207 19.2188C18.5273 19.8984 17.7695 20.4844 16.9336 20.9766C16.0977 21.4609 15.1992 21.8359 14.2383 22.1016C13.2852 22.3672 12.2891 22.5 11.25 22.5ZM11.25 1.5C10.3516 1.5 9.48828 1.61719 8.66016 1.85156C7.83203 2.08594 7.05469 2.41406 6.32812 2.83594C5.60938 3.25781 4.95312 3.76562 4.35938 4.35938C3.76562 4.95313 3.25781 5.61328 2.83594 6.33984C2.41406 7.05859 2.08594 7.83594 1.85156 8.67188C1.61719 9.5 1.5 10.3594 1.5 11.25C1.5 12.1406 1.61719 13.0039 1.85156 13.8398C2.08594 14.668 2.41406 15.4453 2.83594 16.1719C3.25781 16.8906 3.76562 17.5469 4.35937 18.1406C4.95312 18.7344 5.60937 19.2422 6.32812 19.6641C7.05469 20.0859 7.83203 20.4141 8.66016 20.6484C9.48828 20.8828 10.3516 21 11.25 21C12.1406 21 13 20.8828 13.8281 20.6484C14.6641 20.4141 15.4414 20.0859 16.1602 19.6641C16.8867 19.2422 17.5469 18.7344 18.1406 18.1406C18.7344 17.5469 19.2422 16.8906 19.6641 16.1719C20.0859 15.4453 20.4141 14.668 20.6484 13.8398C20.8828 13.0117 21 12.1484 21 11.25C21 10.3594 20.8828 9.5 20.6484 8.67188C20.4141 7.83594 20.0859 7.05859 19.6641 6.33984C19.2422 5.61328 18.7344 4.95313 18.1406 4.35938C17.5469 3.76563 16.8867 3.25781 16.1602 2.83594C15.4414 2.41406 14.6641 2.08594 13.8281 1.85156C13 1.61719 12.1406 1.5 11.25 1.5ZM10.5 9H12L12 16.5H10.5L10.5 9ZM10.5 6H12V7.5H10.5V6Z" fill="#888888"/>
                            </svg>
                            Info
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.5 0.5V8H20V3.06641L3.06641 20H8V21.5H0.5V14H2V18.9336L18.9336 2L14 2V0.5L21.5 0.5Z" fill="#888888"/>
                            </svg>
                            Full Screen
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.8945 11.5781C20.8945 11.6484 20.8945 11.7188 20.8945 11.7891C20.9023 11.8594 20.9062 11.9297 20.9062 12C20.9062 12.0703 20.9023 12.1406 20.8945 12.2109C20.8945 12.2813 20.8945 12.3516 20.8945 12.4219L23.9297 14.3086L22.0664 18.7969L18.5859 18C18.3984 18.2031 18.2031 18.3984 18 18.5859L18.7969 22.0664L14.3086 23.9297L12.4219 20.8945C12.3516 20.8945 12.2812 20.8984 12.2109 20.9062C12.1406 20.9062 12.0703 20.9062 12 20.9062C11.9297 20.9062 11.8594 20.9062 11.7891 20.9062C11.7187 20.8984 11.6484 20.8945 11.5781 20.8945L9.69141 23.9297L5.20312 22.0664L6 18.5859C5.79687 18.3984 5.60156 18.2031 5.41406 18L1.93359 18.7969L0.0703125 14.3086L3.10547 12.4219C3.10547 12.3516 3.10156 12.2812 3.09375 12.2109C3.09375 12.1406 3.09375 12.0703 3.09375 12C3.09375 11.9297 3.09375 11.8594 3.09375 11.7891C3.10156 11.7188 3.10547 11.6484 3.10547 11.5781L0.0703125 9.69141L1.93359 5.20312L5.41406 6C5.60156 5.79688 5.79688 5.60156 6 5.41406L5.20312 1.93359L9.69141 0.0703125L11.5781 3.10547C11.6484 3.10547 11.7188 3.10547 11.7891 3.10547C11.8594 3.09766 11.9297 3.09375 12 3.09375C12.0703 3.09375 12.1406 3.09766 12.2109 3.10547C12.2812 3.10547 12.3516 3.10547 12.4219 3.10547L14.3086 0.0703125L18.7969 1.93359L18 5.41406C18.2031 5.60156 18.3984 5.79688 18.5859 6L22.0664 5.20313L23.9297 9.69141L20.8945 11.5781ZM19.5234 13.1016C19.5391 12.9141 19.5547 12.7305 19.5703 12.5508C19.5859 12.3633 19.5938 12.1758 19.5938 11.9883C19.5938 11.8086 19.5859 11.625 19.5703 11.4375C19.5547 11.25 19.5391 11.0664 19.5234 10.8867L22.2891 9.16406L21.2812 6.72656L18.1055 7.46484C17.8633 7.16797 17.6133 6.89453 17.3555 6.64453C17.1055 6.39453 16.832 6.14453 16.5352 5.89453L17.2734 2.71875L14.8359 1.71094L13.1016 4.47656C12.9219 4.46094 12.7383 4.44531 12.5508 4.42969C12.3633 4.41406 12.1797 4.40625 12 4.40625C11.8125 4.40625 11.625 4.41406 11.4375 4.42969C11.2578 4.44531 11.0742 4.46094 10.8867 4.47656L9.16406 1.71094L6.72656 2.71875L7.46484 5.89453C7.16797 6.13672 6.89453 6.38672 6.64453 6.64453C6.39453 6.89453 6.14453 7.16797 5.89453 7.46484L2.71875 6.72656L1.71094 9.16406L4.47656 10.8984C4.46094 11.0859 4.44531 11.2734 4.42969 11.4609C4.41406 11.6406 4.40625 11.8242 4.40625 12.0117C4.40625 12.1914 4.41406 12.375 4.42969 12.5625C4.44531 12.75 4.46094 12.9336 4.47656 13.1133L1.71094 14.8359L2.71875 17.2734L5.89453 16.5352C6.13672 16.832 6.38281 17.1055 6.63281 17.3555C6.89062 17.6055 7.16797 17.8555 7.46484 18.1055L6.72656 21.2812L9.16406 22.2891L10.8984 19.5234C11.0781 19.5391 11.2617 19.5547 11.4492 19.5703C11.6367 19.5859 11.8203 19.5938 12 19.5938C12.1875 19.5938 12.3711 19.5859 12.5508 19.5703C12.7383 19.5547 12.9258 19.5391 13.1133 19.5234L14.8359 22.2891L17.2734 21.2812L16.5352 18.1055C16.832 17.8633 17.1055 17.6172 17.3555 17.3672C17.6055 17.1094 17.8555 16.832 18.1055 16.5352L21.2812 17.2734L22.2891 14.8359L19.5234 13.1016ZM12 7.59375C12.6094 7.59375 13.1797 7.71094 13.7109 7.94531C14.25 8.17188 14.7188 8.48438 15.1172 8.88281C15.5156 9.28125 15.8281 9.75 16.0547 10.2891C16.2891 10.8203 16.4062 11.3906 16.4062 12C16.4062 12.6094 16.2891 13.1836 16.0547 13.7227C15.8281 14.2539 15.5156 14.7188 15.1172 15.1172C14.7188 15.5156 14.25 15.832 13.7109 16.0664C13.1797 16.293 12.6094 16.4062 12 16.4062C11.3906 16.4062 10.8164 16.293 10.2773 16.0664C9.74609 15.832 9.28125 15.5156 8.88281 15.1172C8.48438 14.7188 8.16797 14.2539 7.93359 13.7227C7.70703 13.1836 7.59375 12.6094 7.59375 12C7.59375 11.3906 7.70703 10.8203 7.93359 10.2891C8.16797 9.75 8.48438 9.28125 8.88281 8.88281C9.28125 8.48438 9.74609 8.17188 10.2773 7.94531C10.8164 7.71094 11.3906 7.59375 12 7.59375ZM12 15.0938C12.4297 15.0938 12.832 15.0156 13.207 14.8594C13.582 14.6953 13.9102 14.4727 14.1914 14.1914C14.4727 13.9102 14.6914 13.582 14.8477 13.207C15.0117 12.832 15.0938 12.4297 15.0938 12C15.0938 11.5703 15.0117 11.168 14.8477 10.793C14.6914 10.418 14.4727 10.0898 14.1914 9.80859C13.9102 9.52734 13.582 9.30859 13.207 9.15234C12.832 8.98828 12.4297 8.90625 12 8.90625C11.5703 8.90625 11.168 8.98828 10.793 9.15234C10.418 9.30859 10.0898 9.52734 9.80859 9.80859C9.52734 10.0898 9.30469 10.418 9.14062 10.793C8.98438 11.168 8.90625 11.5703 8.90625 12C8.90625 12.4297 8.98438 12.832 9.14062 13.207C9.30469 13.582 9.52734 13.9102 9.80859 14.1914C10.0898 14.4727 10.418 14.6953 10.793 14.8594C11.168 15.0156 11.5703 15.0938 12 15.0938Z" fill="#888888"/>
                            </svg>
                            Settings
                        </a>
                    </div>
                </span>
                

                
                    
                  


            </div>
            
        </div>
    </div>
    <div class="broadcast-sidebar">
        <div class="sidebar-nav">
            <div class="tab flex-row">
                <button class="btn tablinks" onclick="openInfo(event, 'tabinfo-03')" id="defaultOpen">
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0.125H18V12.5H6.4248L2.25 16.6748V12.5H0V0.125ZM16.875 11.375V1.25H1.125V11.375H3.375V13.9502L5.9502 11.375H16.875Z" fill="#666666"/>
                    </svg>
                    <span>Chat</span>
                        
                    </button>
                <button class="btn tablinks active" onclick="openInfo(event, 'tabinfo-04')">
                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.3 7.28571C4.51344 7.28571 5.5 6.19665 5.5 4.85714C5.5 3.51763 4.51344 2.42857 3.3 2.42857C2.08656 2.42857 1.1 3.51763 1.1 4.85714C1.1 6.19665 2.08656 7.28571 3.3 7.28571ZM18.7 7.28571C19.9134 7.28571 20.9 6.19665 20.9 4.85714C20.9 3.51763 19.9134 2.42857 18.7 2.42857C17.4866 2.42857 16.5 3.51763 16.5 4.85714C16.5 6.19665 17.4866 7.28571 18.7 7.28571ZM19.8 8.5H17.6C16.995 8.5 16.4484 8.76942 16.0497 9.2058C17.435 10.0444 18.4181 11.5585 18.6313 13.3571H20.9C21.5084 13.3571 22 12.8145 22 12.1429V10.9286C22 9.58906 21.0134 8.5 19.8 8.5ZM11 8.5C13.1278 8.5 14.85 6.59888 14.85 4.25C14.85 1.90112 13.1278 0 11 0C8.87219 0 7.15 1.90112 7.15 4.25C7.15 6.59888 8.87219 8.5 11 8.5ZM13.64 9.71429H13.3547C12.6397 10.0938 11.8456 10.3214 11 10.3214C10.1544 10.3214 9.36375 10.0938 8.64531 9.71429H8.36C6.17375 9.71429 4.4 11.6723 4.4 14.0857V15.1786C4.4 16.1842 5.13906 17 6.05 17H15.95C16.8609 17 17.6 16.1842 17.6 15.1786V14.0857C17.6 11.6723 15.8263 9.71429 13.64 9.71429ZM5.95031 9.2058C5.55156 8.76942 5.005 8.5 4.4 8.5H2.2C0.986563 8.5 0 9.58906 0 10.9286V12.1429C0 12.8145 0.491562 13.3571 1.1 13.3571H3.36531C3.58188 11.5585 4.565 10.0444 5.95031 9.2058Z" fill="#666666"/>
                    </svg>
                    <span>People</span>
                    
                </button>
            </div>
        
        </div>
        <div class="sidebar-content">
            <div id="tabinfo-03" class="tabcontent">
                <div class="chat-wrp">
                    <div class="message-item">
  
                        <div class="message-item-tittle">
                            <h6 class="user-nick">User 1</h6>
                            <h6 class="time">3:51 PM</h6>
                        </div>
                        
                        <p class="message-text">Text of the message</p>
                    </div>
                    <div class="message-item">
  
                        <div class="message-item-tittle">
                            <h6 class="user-nick">User 1</h6>
                            <h6 class="time">3:51 PM</h6>
                        </div>
                        
                        <p class="message-text">Some message</p>
                    </div>
                    <div class="message-item">
  
                        <div class="message-item-tittle">
                            <h6 class="user-nick">User 3</h6>
                            <h6 class="time">3:52 PM</h6>
                        </div>
                        
                        <p class="message-text">Very very very  very  very  very  very  very  very  very  very  very  very  very  long message</p>
                    </div>
                    <div class="message-item">
  
                        <div class="message-item-tittle">
                            <h6 class="user-nick">User 1</h6>
                            <h6 class="time">3:53 PM</h6>
                        </div>
                        
                        <p class="message-text">Text of the message one more time</p>
                    </div>
                </div>
                <div class="chat-input">
                    <form>
                        
                        <div class="form-group">
                          
                          <input type="text" class="form-control" id="exampleInputText">
                          <button class="emoji-btn">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0C9.82617 0 10.623 0.108398 11.3906 0.325195C12.1582 0.536133 12.873 0.837891 13.5352 1.23047C14.2031 1.62305 14.8096 2.09473 15.3545 2.64551C15.9053 3.19043 16.377 3.79688 16.7695 4.46484C17.1621 5.12695 17.4639 5.8418 17.6748 6.60938C17.8916 7.37695 18 8.17383 18 9C18 9.82617 17.8916 10.623 17.6748 11.3906C17.4639 12.1582 17.1621 12.876 16.7695 13.5439C16.377 14.2061 15.9053 14.8125 15.3545 15.3633C14.8096 15.9082 14.2031 16.377 13.5352 16.7695C12.873 17.1621 12.1582 17.4668 11.3906 17.6836C10.623 17.8945 9.82617 18 9 18C8.17383 18 7.37695 17.8945 6.60938 17.6836C5.8418 17.4668 5.12402 17.1621 4.45605 16.7695C3.79395 16.377 3.1875 15.9082 2.63672 15.3633C2.0918 14.8125 1.62305 14.2061 1.23047 13.5439C0.837891 12.876 0.533203 12.1582 0.316406 11.3906C0.105469 10.623 0 9.82617 0 9C0 8.17383 0.105469 7.37695 0.316406 6.60938C0.533203 5.8418 0.837891 5.12695 1.23047 4.46484C1.62305 3.79688 2.0918 3.19043 2.63672 2.64551C3.1875 2.09473 3.79395 1.62305 4.45605 1.23047C5.12402 0.837891 5.8418 0.536133 6.60938 0.325195C7.37695 0.108398 8.17383 0 9 0ZM9 16.875C9.72656 16.875 10.4238 16.7812 11.0918 16.5938C11.7656 16.4062 12.3926 16.1426 12.9727 15.8027C13.5586 15.457 14.0889 15.0469 14.5635 14.5723C15.0439 14.0918 15.4541 13.5615 15.7939 12.9814C16.1396 12.3955 16.4062 11.7686 16.5938 11.1006C16.7812 10.4268 16.875 9.72656 16.875 9C16.875 8.27344 16.7812 7.57617 16.5938 6.9082C16.4062 6.23437 16.1396 5.60742 15.7939 5.02734C15.4541 4.44141 15.0439 3.91113 14.5635 3.43652C14.0889 2.95605 13.5586 2.5459 12.9727 2.20605C12.3926 1.86035 11.7656 1.59375 11.0918 1.40625C10.4238 1.21875 9.72656 1.125 9 1.125C8.27344 1.125 7.57324 1.21875 6.89941 1.40625C6.23145 1.59375 5.60449 1.86035 5.01855 2.20605C4.43848 2.5459 3.9082 2.95605 3.42773 3.43652C2.95312 3.91113 2.54297 4.44141 2.19727 5.02734C1.85742 5.60742 1.59375 6.23437 1.40625 6.9082C1.21875 7.57617 1.125 8.27344 1.125 9C1.125 9.72656 1.21875 10.4268 1.40625 11.1006C1.59375 11.7686 1.85742 12.3955 2.19727 12.9814C2.54297 13.5615 2.95312 14.0918 3.42773 14.5723C3.9082 15.0469 4.43848 15.457 5.01855 15.8027C5.60449 16.1426 6.23145 16.4062 6.89941 16.5938C7.57324 16.7812 8.27344 16.875 9 16.875ZM9 15.1875C8.37891 15.1875 7.79297 15.0703 7.24219 14.8359C6.69727 14.6016 6.21973 14.2822 5.80957 13.8779C5.40527 13.4678 5.08594 12.9902 4.85156 12.4453C4.61719 11.8945 4.5 11.3086 4.5 10.6875H13.5C13.5 11.3086 13.3828 11.8945 13.1484 12.4453C12.9141 12.9902 12.5918 13.4678 12.1816 13.8779C11.7773 14.2822 11.2998 14.6016 10.749 14.8359C10.2041 15.0703 9.62109 15.1875 9 15.1875ZM9 14.0625C9.35742 14.0625 9.7002 14.0098 10.0283 13.9043C10.3623 13.793 10.667 13.6406 10.9424 13.4473C11.2236 13.248 11.4697 13.0107 11.6807 12.7354C11.8916 12.46 12.0586 12.1523 12.1816 11.8125H5.81836C5.94141 12.1523 6.1084 12.46 6.31934 12.7354C6.53027 13.0107 6.77344 13.248 7.04883 13.4473C7.33008 13.6406 7.63477 13.793 7.96289 13.9043C8.29688 14.0098 8.64258 14.0625 9 14.0625ZM12.0938 9C11.8594 9 11.6602 8.91797 11.4961 8.75391C11.332 8.58984 11.25 8.39062 11.25 8.15625V5.90625C11.25 5.67187 11.332 5.47266 11.4961 5.30859C11.6602 5.14453 11.8594 5.0625 12.0938 5.0625C12.2051 5.0625 12.3105 5.08594 12.4102 5.13281C12.5098 5.17383 12.5977 5.23242 12.6738 5.30859C12.7559 5.37891 12.8203 5.46387 12.8672 5.56348C12.9141 5.66309 12.9375 5.76855 12.9375 5.87988V8.17383C12.9375 8.29102 12.9141 8.39941 12.8672 8.49902C12.8203 8.59863 12.7588 8.68652 12.6826 8.7627C12.6064 8.83301 12.5156 8.8916 12.4102 8.93848C12.3105 8.97949 12.2051 9 12.0938 9ZM5.90625 9C5.67188 9 5.47266 8.91797 5.30859 8.75391C5.14453 8.58984 5.0625 8.39062 5.0625 8.15625V5.90625C5.0625 5.67187 5.14453 5.47266 5.30859 5.30859C5.47266 5.14453 5.67188 5.0625 5.90625 5.0625C6.01758 5.0625 6.12305 5.08594 6.22266 5.13281C6.32227 5.17383 6.41016 5.23242 6.48633 5.30859C6.56836 5.37891 6.63281 5.46387 6.67969 5.56348C6.72656 5.66309 6.75 5.76855 6.75 5.87988V8.17383C6.75 8.29102 6.72656 8.39941 6.67969 8.49902C6.63281 8.59863 6.57129 8.68652 6.49512 8.7627C6.41895 8.83301 6.32812 8.8916 6.22266 8.93848C6.12305 8.97949 6.01758 9 5.90625 9Z" fill="#666666"/>
                            </svg>
                            
                        </button>
                        </div>
                        <div class="form-group">
                            <button class="upload-btn" onclick="document.getElementById('getFile').click()">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.2133 10.6066L11.1371 20.6829C10.6233 21.1966 10.0405 21.5806 9.38864 21.8347C8.74782 22.0888 8.09044 22.2159 7.41648 22.2159C6.75356 22.2159 6.09617 22.0888 5.44431 21.8347C4.80349 21.5806 4.22621 21.1966 3.71245 20.6829C3.19869 20.1691 2.81199 19.5891 2.55235 18.9427C2.30376 18.2964 2.1767 17.639 2.17118 16.9706C2.1767 16.3021 2.30376 15.6447 2.55235 14.9984C2.81199 14.3521 3.19869 13.772 3.71245 13.2583L14.3191 2.65165C14.6837 2.28705 15.0952 2.0136 15.5537 1.8313C16.0178 1.65452 16.4873 1.56613 16.9624 1.56613C17.4486 1.56613 17.9209 1.65728 18.3794 1.83958C18.8434 2.01636 19.2578 2.28705 19.6224 2.65165C19.987 3.01625 20.2576 3.43057 20.4344 3.89461C20.6167 4.35313 20.7051 4.82269 20.6996 5.3033C20.7051 5.78391 20.6167 6.25348 20.4344 6.71199C20.2576 7.17603 19.987 7.59035 19.6224 7.95495L9.01575 18.5616C8.79478 18.7825 8.54619 18.9483 8.26998 19.0587C7.99376 19.1692 7.71202 19.2245 7.42476 19.2245C7.1375 19.2245 6.85576 19.1692 6.57955 19.0587C6.30333 18.9483 6.05474 18.7825 5.83377 18.5616C5.6128 18.3406 5.44707 18.092 5.33659 17.8158C5.2261 17.5396 5.17086 17.2578 5.17086 16.9706C5.17086 16.6833 5.2261 16.4016 5.33659 16.1253C5.44707 15.8491 5.6128 15.6005 5.83377 15.3796L14.8494 6.36396L15.91 7.42462L6.89443 16.4402C6.7508 16.5839 6.67899 16.7606 6.67899 16.9706C6.67899 17.1805 6.7508 17.3573 6.89443 17.5009C7.03806 17.6445 7.21484 17.7163 7.42476 17.7163C7.63468 17.7163 7.81146 17.6445 7.95509 17.5009L18.5617 6.89429C18.7827 6.67332 18.9484 6.42473 19.0589 6.14851C19.1694 5.8723 19.2246 5.59056 19.2246 5.3033C19.2246 5.01604 19.1694 4.7343 19.0589 4.45809C18.9484 4.18187 18.7827 3.93328 18.5617 3.71231C18.3407 3.49134 18.0921 3.32561 17.8159 3.21513C17.5397 3.10464 17.258 3.0494 16.9707 3.0494C16.6834 3.0494 16.4017 3.10464 16.1255 3.21513C15.8493 3.32561 15.6007 3.49134 15.3797 3.71231L4.77311 14.3189C4.40851 14.6835 4.13506 15.0951 3.95276 15.5536C3.77598 16.0176 3.68483 16.49 3.67931 16.9706C3.68483 17.4512 3.77598 17.9235 3.95276 18.3875C4.13506 18.8461 4.40851 19.2576 4.77311 19.6222C5.13771 19.9868 5.54927 20.2603 6.00779 20.4426C6.47182 20.6193 6.94139 20.7077 7.41648 20.7077C7.90261 20.7077 8.37494 20.6166 8.83345 20.4343C9.29749 20.2575 9.71181 19.9868 10.0764 19.6222L20.1527 9.54594L21.2133 10.6066Z" fill="#666666"/>
                                </svg>
                                
                            </button>
                            <input type='file' id="getFile" style="display:none">
                            


                            <button type="submit" class="btn btn-primary">send</button>
                            
                        </div>
                        
                        
                      </form>
                </div>
                
                
                
            </div>
            <div id="tabinfo-04" class="tabcontent active">
                <div class="top-search-row">
                   
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Search Meetings">
                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#settings" data-whatever="@mdo">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7824 13.833L12.6666 10.7177C12.5259 10.5771 12.3353 10.499 12.1353 10.499H11.6259C12.4884 9.39596 13.001 8.00859 13.001 6.49937C13.001 2.90909 10.0914 0 6.50048 0C2.90959 0 0 2.90909 0 6.49937C0 10.0896 2.90959 12.9987 6.50048 12.9987C8.00996 12.9987 9.39756 12.4863 10.5008 11.6239V12.1332C10.5008 12.3332 10.5789 12.5238 10.7195 12.6644L13.8354 15.7797C14.1292 16.0734 14.6042 16.0734 14.8948 15.7797L15.7793 14.8954C16.0731 14.6017 16.0731 14.1267 15.7824 13.833ZM6.50048 10.499C4.29094 10.499 2.50018 8.71165 2.50018 6.49937C2.50018 4.29021 4.28781 2.49976 6.50048 2.49976C8.71001 2.49976 10.5008 4.28708 10.5008 6.49937C10.5008 8.70852 8.71314 10.499 6.50048 10.499Z" fill="#415C6E"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="users-list-wrp">
                    <div class="category-list">
                        <div class="category-tittle">
                            <div class="category-name">Active guests<span>(2)</span></div>
                            <button type="submit" class="btn btn-primary">Mute all</button>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 1</span>
                                    <div class="control-buttons">

                                        <button type="button" class="btn header-settings-btn" id="stop" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            stop
                                        </button>
                                        
                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1642 7.75781C19.5783 7.58594 19.9455 7.34375 20.2658 7.03125L13.2345 0C12.922 0.320313 12.6798 0.6875 12.508 1.10156C12.3439 1.50781 12.2619 1.93359 12.2619 2.37891C12.2619 2.72266 12.3087 3.05078 12.4025 3.36328L7.32827 8.4375C7.00795 8.30469 6.67592 8.20313 6.33217 8.13281C5.99624 8.05469 5.65249 8.01563 5.30092 8.01563C4.62905 8.01563 3.98452 8.14453 3.36733 8.40234C2.75014 8.66016 2.20327 9.02344 1.7267 9.49219L5.99276 13.7582L0 19.751L0.707107 20.4581L6.69987 14.4654L10.7736 18.5391C11.2423 18.0625 11.6056 17.5156 11.8634 16.8984C12.1212 16.2813 12.2501 15.6367 12.2501 14.9648C12.2501 14.6133 12.2111 14.2695 12.133 13.9336C12.0626 13.5898 11.9611 13.2578 11.8283 12.9375L16.9025 7.86328C17.215 7.95703 17.5431 8.00391 17.8869 8.00391C18.3322 8.00391 18.758 7.92188 19.1642 7.75781Z" fill="#223942"/>
                                            </svg>
                                                
                                        </button>
                                       
                                    
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               
                                                <path d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z" fill="#223942"/>
                                                    
                                            </svg>                       
                                        </button>

                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="10.5" cy="10.5" r="10.5" fill="#223942"/>
                                                <rect x="6.41431" y="5" width="14" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="white"/>
                                                <rect x="16.3137" y="6.41431" width="14" height="2" rx="1" transform="rotate(135 16.3137 6.41431)" fill="white"/>
                                            </svg>                      
                                        </button>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 1</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" id="stop" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            stop
                                        </button>
                                        
                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8869 8.00391C17.5431 8.00391 17.215 7.95703 16.9025 7.86328L11.8283 12.9375C11.9611 13.2578 12.0626 13.5898 12.133 13.9336C12.2111 14.2695 12.2501 14.6133 12.2501 14.9648C12.2501 15.6367 12.1212 16.2813 11.8634 16.8984C11.7367 17.2019 11.5844 17.4884 11.4066 17.7579C11.2228 18.0364 11.0118 18.2968 10.7736 18.5391L10.0664 17.8319L6.69987 14.4654L0.707107 20.4581L0 19.751L5.99276 13.7582L2.43384 10.1993L1.7267 9.49219C1.96893 9.25393 2.22933 9.04292 2.50789 8.85916C2.77737 8.68139 3.06385 8.52912 3.36733 8.40234C3.98452 8.14453 4.62905 8.01563 5.30092 8.01563C5.65249 8.01563 5.99624 8.05469 6.33217 8.13281C6.67592 8.20313 7.00795 8.30469 7.32827 8.4375L12.4025 3.36328C12.3087 3.05078 12.2619 2.72266 12.2619 2.37891C12.2619 1.93359 12.3439 1.50781 12.508 1.10156C12.5481 1.00496 12.592 0.910918 12.6397 0.819423C12.7967 0.518727 12.9949 0.245586 13.2345 0L13.9417 0.707181L19.5586 6.32407L20.2658 7.03125C20.0202 7.27085 19.747 7.46911 19.4463 7.62604C19.3549 7.67379 19.2608 7.71772 19.1642 7.75781C18.758 7.92188 18.3322 8.00391 17.8869 8.00391ZM6.69987 13.0511L3.23344 9.58471C3.39888 9.48712 3.5719 9.40063 3.75277 9.32508C4.24729 9.1185 4.76076 9.01563 5.30092 9.01563C5.57772 9.01563 5.84542 9.0463 6.10566 9.10682L6.11868 9.10985L6.13178 9.11253C6.41375 9.17021 6.68458 9.25316 6.94525 9.36124L7.56272 9.61726L8.03537 9.14461L13.1096 4.07039L13.5319 3.64804L13.3603 3.07593C13.296 2.86153 13.2619 2.63056 13.2619 2.37891C13.2619 2.09714 13.3072 1.83147 13.3971 1.57678L18.689 6.86869C18.4343 6.95859 18.1686 7.00391 17.8869 7.00391C17.6352 7.00391 17.4042 6.96978 17.1898 6.90546L16.6177 6.73382L16.1954 7.15618L11.1212 12.2304L10.6485 12.7031L10.9045 13.3205C11.0126 13.5812 11.0956 13.852 11.1532 14.134L11.1559 14.1471L11.1589 14.1601C11.2195 14.4204 11.2501 14.6881 11.2501 14.9648C11.2501 15.505 11.1473 16.0185 10.9407 16.513C10.8651 16.6939 10.7787 16.8669 10.6811 17.0323L7.40698 13.7582L7.43564 13.7296L6.72853 13.0225L6.69987 13.0511Z" fill="#223942"/>
                                                </svg>
                                                
                                                
                                        </button>
                                       
                                    
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               
                                                <path d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z" fill="#223942"/>
                                                    
                                            </svg>                       
                                        </button>

                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="10.5" cy="10.5" r="10.5" fill="#223942"/>
                                                <rect x="6.41431" y="5" width="14" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="white"/>
                                                <rect x="16.3137" y="6.41431" width="14" height="2" rx="1" transform="rotate(135 16.3137 6.41431)" fill="white"/>
                                            </svg>                      
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 2</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" id="stop" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            stop
                                        </button>
                                        
                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8869 8.00391C17.5431 8.00391 17.215 7.95703 16.9025 7.86328L11.8283 12.9375C11.9611 13.2578 12.0626 13.5898 12.133 13.9336C12.2111 14.2695 12.2501 14.6133 12.2501 14.9648C12.2501 15.6367 12.1212 16.2813 11.8634 16.8984C11.7367 17.2019 11.5844 17.4884 11.4066 17.7579C11.2228 18.0364 11.0118 18.2968 10.7736 18.5391L10.0664 17.8319L6.69987 14.4654L0.707107 20.4581L0 19.751L5.99276 13.7582L2.43384 10.1993L1.7267 9.49219C1.96893 9.25393 2.22933 9.04292 2.50789 8.85916C2.77737 8.68139 3.06385 8.52912 3.36733 8.40234C3.98452 8.14453 4.62905 8.01563 5.30092 8.01563C5.65249 8.01563 5.99624 8.05469 6.33217 8.13281C6.67592 8.20313 7.00795 8.30469 7.32827 8.4375L12.4025 3.36328C12.3087 3.05078 12.2619 2.72266 12.2619 2.37891C12.2619 1.93359 12.3439 1.50781 12.508 1.10156C12.5481 1.00496 12.592 0.910918 12.6397 0.819423C12.7967 0.518727 12.9949 0.245586 13.2345 0L13.9417 0.707181L19.5586 6.32407L20.2658 7.03125C20.0202 7.27085 19.747 7.46911 19.4463 7.62604C19.3549 7.67379 19.2608 7.71772 19.1642 7.75781C18.758 7.92188 18.3322 8.00391 17.8869 8.00391ZM6.69987 13.0511L3.23344 9.58471C3.39888 9.48712 3.5719 9.40063 3.75277 9.32508C4.24729 9.1185 4.76076 9.01563 5.30092 9.01563C5.57772 9.01563 5.84542 9.0463 6.10566 9.10682L6.11868 9.10985L6.13178 9.11253C6.41375 9.17021 6.68458 9.25316 6.94525 9.36124L7.56272 9.61726L8.03537 9.14461L13.1096 4.07039L13.5319 3.64804L13.3603 3.07593C13.296 2.86153 13.2619 2.63056 13.2619 2.37891C13.2619 2.09714 13.3072 1.83147 13.3971 1.57678L18.689 6.86869C18.4343 6.95859 18.1686 7.00391 17.8869 7.00391C17.6352 7.00391 17.4042 6.96978 17.1898 6.90546L16.6177 6.73382L16.1954 7.15618L11.1212 12.2304L10.6485 12.7031L10.9045 13.3205C11.0126 13.5812 11.0956 13.852 11.1532 14.134L11.1559 14.1471L11.1589 14.1601C11.2195 14.4204 11.2501 14.6881 11.2501 14.9648C11.2501 15.505 11.1473 16.0185 10.9407 16.513C10.8651 16.6939 10.7787 16.8669 10.6811 17.0323L7.40698 13.7582L7.43564 13.7296L6.72853 13.0225L6.69987 13.0511Z" fill="#223942"/>
                                                </svg>
                                                
                                                
                                        </button>
                                       
                                    
                                        <button class="btn" type="submit">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               
                                                <path d="M13.4314 8.71429C13.4314 8.32366 13.1077 8 12.7171 8C12.3265 8 12.0028 8.32366 12.0028 8.71429V10.1429C12.0028 12.8996 9.75949 15.1429 7.00279 15.1429C4.24609 15.1429 2.00279 12.8996 2.00279 10.1429V8.71429C2.00279 8.32366 1.67913 8 1.2885 8C0.897879 8 0.574219 8.32366 0.574219 8.71429V10.1429C0.574219 13.4464 3.07422 16.1696 6.2885 16.5268V18H3.43136C3.04074 18 2.71708 18.3237 2.71708 18.7143C2.71708 19.1049 3.04074 19.4286 3.43136 19.4286H10.5742C10.9648 19.4286 11.2885 19.1049 11.2885 18.7143C11.2885 18.3237 10.9648 18 10.5742 18H7.71708V16.5268C10.9314 16.1696 13.4314 13.4464 13.4314 10.1429V8.71429ZM10.5742 4.42857C10.5742 2.46429 8.96708 0.857141 7.00279 0.857141C5.0385 0.857141 3.43136 2.46429 3.43136 4.42857V10.1429C3.43136 12.1071 5.0385 13.7143 7.00279 13.7143C8.96708 13.7143 10.5742 12.1071 10.5742 10.1429V4.42857Z" fill="#223942"/>
                                                    
                                            </svg>                       
                                        </button>

                                        <button class="btn" type="submit">
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="10.5" cy="10.5" r="10.5" fill="#223942"/>
                                                <rect x="6.41431" y="5" width="14" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="white"/>
                                                <rect x="16.3137" y="6.41431" width="14" height="2" rx="1" transform="rotate(135 16.3137 6.41431)" fill="white"/>
                                            </svg>                      
                                        </button>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-list">
                        <div class="category-tittle">
                            <div class="category-name">Raisend Hand<span>(2)</span></div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Invite
                                        </button>
                                       
                                    
                                        
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Invite
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="category-list">
                        <div class="category-tittle">
                            <div class="category-name">Other Users<span>(3)</span> </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 2</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Invite
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Invite
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Invite
                                        </button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-list">
                        <div class="category-tittle">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                              </div>
                            <div class="category-name">Waiting Room<span>(3)</span></div>
                            <div class="control-buttons">
                                <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                    Accept All
                                </button>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                  </div>
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 2</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Accept
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                  </div>
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Accept
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="users-list">
                            <div class="user-item">
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                  </div>
                                <div class="user-icon">
                                    <span>U</span>
                                </div>
                                <div class="user-info">
                                    <span class="nickname">User 3</span>
                                    <div class="control-buttons">
                                        <button type="button" class="btn header-settings-btn" data-toggle="modal" data-target="#edit-create" data-whatever="@mdo">
                                            Accept
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Camera and mic are blocked</h5>
                
            </div>
            <div class="modal-body">
                <p>Meeting requires access to your camera and mic. Click the camera blocked icon in your browser’s address bar</p>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary">Dismiss</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-decor"></div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 15H3V13.5H6V15ZM13.5 15V16.5H16.5V18H0V4.5H1.5V0H24V15H13.5ZM7.74609 5.75391H1.25391V16.7461H7.74609V5.75391ZM12 15H9V16.5H12V15ZM22.5 13.5V1.5H3V4.5H9V13.5H22.5Z" fill="#0071BC"/>
                </svg>
                <span class="title-text">Devices</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.5" cy="11.5" r="11.5" fill="#C4C4C4"/>
                        <rect x="6.41431" y="5" width="16" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="white"/>
                        <rect x="17.728" y="6.41422" width="16" height="2" rx="1" transform="rotate(135 17.728 6.41422)" fill="white"/>
                        </svg>
                </span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                  
                  <div class="col-sm-8">
                    <label for="inputCamera">Camera</label>
                    <select id="inputCamera" class="form-control">
                        <option class="col-sm-6"selected>Camera 1</option>
                        <option class="col-sm-6">Camera 2</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <figure class="pl-3">
                        <a href="https://test.mascot-studio.in/assets/images/settings-photo.jpg" data-size="1600x1067">
                          <img src="https://via.placeholder.com/135x80.png/#d1e0e0C/O https://placeholder.com/" alt="" class="img-fluid" data-size="135x80">
                          
                        </a>
                      </figure>
                  </div>
                </div>
                <div class="form-group row">
                  
                    <div class="col-sm-8">
                      <label for="inputMicrophone">Microphone</label>
                      <select id="inputMicrophone" class="form-control">
                          <option class="col-sm-6"selected>Mic 1</option>
                          <option class="col-sm-6">Mic 2</option>
                      </select>
                    </div>
                    <div class="col-sm-4 settings-right-column">
                        <div class="row mt-3 ml-3">
                            <div class="icon-wrp">
                                <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 18.75C13.0125 18.75 15.4545 16.4606 15.4545 13.6364V5.11364C15.4545 2.28942 13.0125 0 10 0C6.9875 0 4.54545 2.28942 4.54545 5.11364V13.6364C4.54545 16.4606 6.9875 18.75 10 18.75ZM19.0909 10.2273H18.1818C17.6795 10.2273 17.2727 10.6087 17.2727 11.0795V13.6364C17.2727 17.6207 13.6085 20.8178 9.2733 20.4215C5.49489 20.0758 2.72727 16.8915 2.72727 13.3327V11.0795C2.72727 10.6087 2.32045 10.2273 1.81818 10.2273H0.909091C0.406818 10.2273 0 10.6087 0 11.0795V13.2188C0 17.9936 3.63466 22.2502 8.63636 22.8968V24.7159H5.45455C4.95227 24.7159 4.54545 25.0973 4.54545 25.5682V26.4205C4.54545 26.8913 4.95227 27.2727 5.45455 27.2727H14.5455C15.0477 27.2727 15.4545 26.8913 15.4545 26.4205V25.5682C15.4545 25.0973 15.0477 24.7159 14.5455 24.7159H11.3636V22.9171C16.2335 22.2907 20 18.3718 20 13.6364V11.0795C20 10.6087 19.5932 10.2273 19.0909 10.2273Z" fill="#606060"/>
                                </svg>
                            </div>  
                            
                            <a href="#" class="ml-2">
                                <span class="text-link">Test</span>
                                <span class="img-link">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4C4 2.89543 3.10457 2 2 2C0.89543 2 0 2.89543 0 4V12C0 13.1046 0.89543 14 2 14C3.10457 14 4 13.1046 4 12V4Z" fill="#1896C6"/>
                                        <path d="M11 6C11 4.89543 10.1046 4 9 4C7.89543 4 7 4.89543 7 6V10C7 11.1046 7.89543 12 9 12C10.1046 12 11 11.1046 11 10V6Z" fill="#1896C6"/>
                                        <path d="M18 2C18 0.89543 17.1046 0 16 0C14.8954 0 14 0.89543 14 2V14C14 15.1046 14.8954 16 16 16C17.1046 16 18 15.1046 18 14V2Z" fill="#1896C6"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  
                    <div class="col-sm-8">
                        <label for="inputSpeakers">Speakers</label>
                       
                        <select id="inputSpeakers" class="form-control">
                            <option data-display="type" class="py-2" value="1">Speakers 1</option>
                            <option class="py-2" value="2">Speakers 2</option>
                            
                          </select>
                    </div>
                    <div class="col-sm-4 settings-right-column">
                        <div class="row mt-3 ml-3">
                            <div class="icon-wrp">
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.21295 2.58069L4.81479 6.75022H0.916667C0.410208 6.75022 0 7.25365 0 7.87522V14.6252C0 15.2463 0.410208 15.7502 0.916667 15.7502H4.81479L8.21295 19.9198C8.78701 20.6243 9.77778 20.1293 9.77778 19.1243V3.37615C9.77778 2.37022 8.78625 1.87709 8.21295 2.58069ZM17.1245 0.186311C16.6978 -0.157283 16.1245 -0.012439 15.8446 0.512092C15.5642 1.03569 15.6834 1.73928 16.11 2.08287C18.6412 4.12147 20.1518 7.5485 20.1518 11.2507C20.1518 14.9529 18.6412 18.3799 16.11 20.4185C15.6834 20.7616 15.5642 21.4657 15.8446 21.9888C16.1135 22.4908 16.6822 22.6713 17.1245 22.3146C20.177 19.8555 22 15.7188 22 11.2502C22 6.78162 20.177 2.64537 17.1245 0.186311ZM18.3333 11.2502C18.3333 8.27225 17.1088 5.53428 15.0574 3.92647C14.63 3.59178 14.0632 3.7474 13.7924 4.27615C13.5216 4.8049 13.648 5.50475 14.0754 5.8399C15.5936 7.03006 16.5 9.05225 16.5 11.2502C16.5 13.4482 15.5936 15.4704 14.0754 16.6605C13.648 16.9952 13.5216 17.6951 13.7924 18.2243C14.041 18.7099 14.5991 18.934 15.0574 18.574C17.1088 16.9662 18.3333 14.2287 18.3333 11.2502ZM12.9185 7.64694C12.4762 7.35022 11.9182 7.54569 11.673 8.0899C11.4289 8.63412 11.5905 9.31803 12.0339 9.6185C12.527 9.95084 12.8333 10.5766 12.8333 11.2502C12.8333 11.9243 12.527 12.5496 12.0343 12.8819C11.5909 13.1824 11.4293 13.8663 11.6734 14.4105C11.919 14.9571 12.4774 15.1512 12.9189 14.8535C13.9971 14.1246 14.667 12.7441 14.667 11.2497C14.667 9.75537 13.9971 8.37537 12.9185 7.64694Z" fill="#606060"/>
                                </svg>
                            </div>  
                            
                            <a href="#" class="ml-2">
                                <span class="text-link">Test</span>
                                <span class="img-link">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4C4 2.89543 3.10457 2 2 2C0.89543 2 0 2.89543 0 4V12C0 13.1046 0.89543 14 2 14C3.10457 14 4 13.1046 4 12V4Z" fill="#1896C6"/>
                                        <path d="M11 6C11 4.89543 10.1046 4 9 4C7.89543 4 7 4.89543 7 6V10C7 11.1046 7.89543 12 9 12C10.1046 12 11 11.1046 11 10V6Z" fill="#1896C6"/>
                                        <path d="M18 2C18 0.89543 17.1046 0 16 0C14.8954 0 14 0.89543 14 2V14C14 15.1046 14.8954 16 16 16C17.1046 16 18 15.1046 18 14V2Z" fill="#1896C6"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
               
               
                
              </form>

        </div>
        <div class="modal-footer">
          
          <button type="submit" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
</div>





